[2019-05-07 16:20] russellb opened #3 "Automatically deploy cluster-api integration"
So far, metal3-dev-env sets up virtual bare metal hosts, configures the baremetal-operator to manage them.  Next this needs to automatically deploy cluster-api-provider-baremetal and allow provisioning hosts through the Machine interface.

[2019-05-07 16:24] russellb commented on #3
I think this PR needs to go in first, so that we drop some of the hard coded behavior in that code right now: https://github.com/metal3-io/cluster-api-provider-baremetal/pull/59

[2019-05-07 17:38] russellb commented on #3
working on getting everything running here: https://github.com/russellb/metal3-dev-env/tree/cluster-api

[2019-05-10 21:16] russellb commented on #3
I merged all of my cluster-api changes into master.  All cluster-api components now run, and there's docs on how to create Machine objects to provision some hosts.

[2019-05-10 21:16] #3 closed

[2019-05-29 12:14] redixin opened #14 "Failed to pull quay.io/metal3-io/ironic when building from scratch"
Build failed when running `make` from scratch:

[code]

[2019-05-29 12:39] #14 closed

[2019-06-06 02:28] guoruijing opened #17 "zeromq installation failed"
I use centos/7 vagrant box. centos version:
[vagrant@metal3 ~]$ cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

zeromq installation failed.

After the following workaround, the installation was finished:
#workaroud zeromq compatible issue
sed -i "s/zeromq/xxxxx/g" 01_install_requirements.sh
make

[2019-06-07 18:00] russellb commented on #17
I believe this is resolved by PR #18

[2019-06-07 18:00] #17 closed

[2019-06-27 10:12] namnx228 opened #21 "Development environment on Ubuntu"
I'm thinking about a dev-env which can run on Ubuntu, so we will have more OS choices. Besides, this dev-env should be in Ansible playbooks only, not playbooks call bash-script and bash-scripts call playbook, so it will be easier to maintain and add more feature to it.
__What do you think about this ?__

[2019-06-27 10:27] hardys commented on #21
Sounds reasonable to me, AFAIK this should work fairly easily on any environment that supports libvirt, and I agree refactoring some of the bash scripts into the ansible roles would be helpful (although perhaps that should be tracked as a separate task) - I made a similar comment on https://github.com/metal3-io/metal3-dev-env/pull/19 and plan to spend some time on that unless anyone does it before

[2019-06-27 10:53] namnx228 commented on #21
You're right, the refactoring task may be separated from the task that makes the dev-env running on Ubuntu. If there is nobody taking care of this task (Ubuntu task) right now, I will do it.

[2019-06-27 19:14] russellb commented on #21
Ubuntu support sounds great.

I'm more neutral on the ansible part, but I'm OK with it.

[2019-06-28 08:09] pablochacin opened #22 "Support for chroot based environment"
This issue follows the progress  in installing the development environment in a chroot based Centos7 environment on top of Opensuse. One important objective was to use the libvirt already running in the host machine

There are some minor hacks needed and some unsolved issues.

## Hacks
* This is not specific to `metal3` but in order to make `yum` run in chroot, it is necessary to bind mount `/proc

[2019-06-28 08:36] pablochacin commented on #22
The path for volume storage is defined in `vm-setup/roles/common/defaults/main.yml':
[code]

[2019-06-28 08:38] pablochacin commented on #22
The uri to `libvirt` is defined in `vm-setup/roles/common/defaults/main.yml`:
[code]
However, an url was used instead. Need to check where this default is override.

[2019-06-28 08:54] hardys commented on #22
I wonder would it be easier to either switch to installing python-virtualbmc from source (or maybe pip --user?) - alternatively perhaps we could instead build a container image?

The main dependency here is libvirt, so I'm thinking with some work we could potentially make this setup much more portable?

[2019-06-28 09:06] pablochacin commented on #22
This was my first attempt, but there were issues with running podman inside a container.

[2019-06-28 09:11] pablochacin commented on #22
Here is where the actual uri to qemu is set for `vbmc`:
https://github.com/metal3-io/metal3-dev-env/blob/24c0d596b89bca7fee899186cb82f0548c4f8b2d/vm-setup/roles/virtbmc/tasks/setup_tasks.yml#L43-L53

[2019-06-28 09:40] pablochacin commented on #22
Realized ironic pods were not running because  `podman` failed when creating a pod:

The directory `/run/systemd` must be mounted in the chroot environment

[2019-06-28 10:42] pablochacin commented on #22
The problem is apparently that the `virtuabmc` service is not started because the setup process uses `systemd` which is not supported under chroot.

[2019-06-28 13:01] hardys commented on #22
Ack, thanks for looking into this - I did indeed mean run the virtualbmc service in a container, or we could probably run it without systemd as IIRC that's a packaging thing, instead we could install it either via pip or from source in a virtualenv ref https://docs.openstack.org/virtualbmc/latest/install/index.html

If we do add such an option it'd be nice to ensure there's a choice to install eit

[2019-06-28 17:42] pablochacin commented on #22
I can confirm that starting the `/usr/bin/vbmcd` manually works. `vbmc` can connect to the server and interface with vms using `libvirt` running in the host.

[2019-07-02 08:23] jan-est opened #26 "Failed to host deprovisioning"
Hi,

I ran into problem with host deprovisioning. After creating machine with `create_machine.sh` and deleting machine object with: `kubectl delete machine centos -n metal3`. The hosts provisioning status is like this.
[code]
When running:
`kubectl logs -n metal3 pod/cluster-api-provider-baremetal-controller-manager-0 -c manager`
Logs shows: `2019/07/02 08:06:44 Deleting machine centos` and it is

[2019-07-02 08:25] karmab commented on #26
i think it s the correct behaviour.
Deleting the machine removes its linking with one of the baremetalhost objects.
to actually delete the baremetalhost you would do something like
[code]

[2019-07-02 08:30] jan-est commented on #26
But I would not want to delete the actual baremetalhost, because I would like to use it again in any upcoming provisioning. If the state of the machine is `externally provisioned` it does not allow me to do another provisioning.

[2019-07-02 14:47] russellb commented on #26
This is a bug.  As you suggest @jan-est , the host should return to a state where it's available for provisioning again.

[2019-07-03 03:41] mikkosest commented on #26
Would it help if   setting `consumerRef = nil` would be allowed also `StateProvisioning` and `StateProvisioned` -states in `Delete` method in `actuator.go` ?

[2019-07-03 06:42] jan-est commented on #26
@russellb good to know that this was not an issue with my local environment. @mikkosest I am not that familiar with the architecture of the metal3 but I was thinking the same thing that `consumerRef` needs to be deleted. I test editing my `master-0` yaml and deleted the `consumerRef` manually and that did the trick and deleted the machine object as well.

But I think we can assume that this issue

[2019-07-03 13:39] russellb commented on #26
@mikkosest The code you're referring to came from https://github.com/metal3-io/cluster-api-provider-baremetal/pull/86 by @zaneb.  We now see the code clear the image, but delay clearing the consumerref field.

It appears the intention here was to wait for deprovisioning to complete before allowing Machine deletion to complete.  When you run `kubectl delete machine centos -n metal3`, you should see

[2019-07-03 22:29] russellb commented on #26
While we work out a proper fix for this, as discussed, manually clearing the `ConsumerRef` field is a good workaround.

Thanks again for the report!

[2019-07-04 06:20] jan-est commented on #26
@russellb thanks for the info!

[2019-07-05 10:04] jan-est opened #27 "Error running baremetal-operator locally"
Hi,

I am trying to follow instructions to run my `baremetal-operator` locally for test purposes. After

[code]
I will get following message:
[code]
After that I followed these instructions successfully to install `operator-sdk`.
https://github.com/operator-framework/operator-sdk/blob/master/doc/user/install-operator-sdk.md

After running `make run` again in baremetal-operator folder, receiving fo

[2019-07-05 10:08] kashifest opened #28 "Failed to run a custom cluster-api-provider-baremetal"
Hi,

I am trying to follow the steps mentioned in ```README``` file  to run a custom ```cluster-api-provider-baremetal``` from local repositories but the ```make run``` is stuck after the following :

[code]

The **initial guess** is that the process stucks  during Reconcilation . (Code refers to ```/go/pkg/mod/sigs.k8s.io/controller-runtime@v0.0.0-20190124235917-12d98582e729/pkg/internal/controll

[2019-07-05 10:18] hardys commented on #27
Thanks for the report - metal3-dev-env is set up to deploy the operator onto a cluster atm, but you're trying to run it locally via operator-sdk.

I think if we want to support that, we'll want to install the sdk similar to here: https://github.com/openshift-metal3/dev-scripts/blob/master/03_ocp_repo_sync.sh#L29

The `make run` output though I think is expected, https://github.com/operator-framewo

[2019-07-05 12:57] russellb commented on #28
Thanks for the report.

This is actually the expected behavior. `make run` runs the component in the foreground so that you can follow the log output in the terminal and quickly kill and restart as needed.  You will need to interact with the cluster from another terminal.

Let me know if you have any other questions about this!

[2019-07-05 20:08] russellb commented on #27
This is supported via the following process: https://github.com/metal3-io/metal3-dev-env#running-a-custom-baremetal-operator

`make run` does run the `baremetal-operator` in the foreground.  It sounds like this may be the expected behavior?

or did you perform some updates to `BareMetalHost` objects and expected further output that didn't show up?

[2019-07-08 06:25] jan-est commented on #27
@russellb @hardys  thanks for the reply. No I did not perform any updates to BareMetalHost yet. I am totally newbie with the metal3 and I have been playing with it about an week now. At this point I have only tested the Introduction page features and I followed steps in: https://github.com/metal3-io/metal3-dev-env#running-a-custom-baremetal-operator to run baremetal-operator locally. I got little

[2019-07-08 08:03] kashifest commented on #28
Thanks @russellb.

Indeed you are right. Since, I am new to this environment, I still have one more question.

As mentioned, in my report, I followed the steps mentioned in ```README```. At first, I scaled down the custom Machine controller manager first using the following command

```kubectl scale statefulset cluster-api-provider-baremetal-controller-manager -n metal3 --replicas=0```.

I added f

[2019-07-08 14:45] russellb commented on #28
When you use `make run`, you are no longer running the component in the cluster, so you won't see it when you list pods.  To run a custom image that way, you'd have to build a custom image, push it to a container registry, edit the image in the appropriate manifest under the `config/` directory, and then run `make deploy`.  It's a lot easier to test custom changes with `make run`, just at the expe

[2019-07-08 14:45] russellb commented on #28
(sorry, didn't mean to click close)

[2019-07-08 15:32] russellb commented on #27
OK, it sounds like everything is working as expected.  Maybe we should expand that section of the docs to note the `operator-sdk` requirement, though

[2019-07-08 15:33] russellb commented on #27
@jan-est would you be interested in sending a documentation patch?

[2019-07-09 05:57] kashifest commented on #28
Thanks @russellb. This is clear now.

[2019-07-09 05:57] #28 closed

[2019-07-09 06:10] jan-est commented on #27
@russellb yes I will send the patch.

[2019-07-09 07:03] namnx228 commented on #21
Hi,
I have made some changes and the dev-env now can run on my Ubuntu local machine. But there are still some problems with `bridges`. If we want to configure two `bridges` and make them permanently, the way to do it is different between Ubuntu 18.04 and lower version. Ubuntu 18.04 uses `Netplan` to do the all networking stuffs, including adding `bridges`, but lower versions of Ubuntu use `/etc/ne

[2019-07-09 09:14] hardys commented on #21
I think using brctl is fine - particularly if there are some manual/script steps which can be re-run to revive an environment after an unexpected host reboot?

[2019-07-09 10:30] namnx228 commented on #21
Yes, if i don't go wrong, each time we restart  the host, we need to re-run 2 scripts `02_configure_host.sh` and `03_launch_mgmt_cluster.sh` if we want the dev-env works properly. So, I think `brctl` can be put into script `02_configure_host.sh` so it can be re-executed after the host reboots.

[2019-07-09 16:51] zaneb commented on #26
metal3-io/cluster-api-provider-baremetal#97 will at least allow you to delete the Machine.

[2019-07-10 07:30] kashifest commented on #26
@zaneb @russellb I have tested machine deletion and its working. Great Job! One question though, what is the desired state of the baremetal host after de-provisioning with regards to ```'Online'``` state. When I do machine deletion it makes the host ready but keeps it offline (```'Online'=false```) however when I am directly provisioning and then de-provisioning it returns the host to ready state

[2019-07-10 13:42] russellb commented on #26
If you directly provision and de-provision, it probably makes sense to set `online: false` there, too.  This affects whether the host is left powered on or off after deprovisioning is complete.  In most cases, I'd expect you want the host powered off, `online: false`.

[2019-07-11 12:30] #27 closed

[2019-07-11 15:01] hardys opened #30 "vbmc issues running on RHEL 8"
Testing on a RHEL 8 box, there seem to be some stray vbmc add processes, which don't get cleaned up by `make clean`, and also the systemd service doesn't look healthy, although deployment does work provided you kill the stray processes after a `make clean`

[code]

[2019-07-11 15:28] russellb commented on #30
I see the same behaviour on my RHEL 8 box.  I've been doing `make clean ; sudo killall -9 vbmc ; make` as a workaround in the meantime.

[2019-07-20 16:15] sb1975 opened #31 "Support for running it on GCP"
I followed the steps to create a GCP VM instance using 8vCPU,Intel Haswell,32GB RAM with nested Virtualization enabled.
https://cloud.google.com/compute/docs/instances/enable-nested-virtualization-vm-instances
http://www.brianlinkletter.com/enable-nested-virtualization-on-google-cloud/

However the Ansible playbook failed with below error :
"stderr": "(1): Command failed: Fail to establish a conne

[2019-07-23 07:22] jparrill opened #32 "Error provisioning the default dev env"
I'm dealing with an error on this repo provisioning the default environment.

**Environment**:

[code]

**TL;DR Error**:

[code]

**How to reprooduce it**:

[code]

**Full Error Log** (Fails on script 03, the others works fine):

[code]

**Hints**:

- dev-scripts works well

ideas?

[2019-07-23 08:49] hardys commented on #32
Looks like https://github.com/metal3-io/cluster-api-provider-baremetal/pull/99 should fix this?

[2019-07-23 08:50] jparrill commented on #32
Seems so, I will retry when that was merged :)

[2019-07-23 12:54] russellb commented on #32
That's right.  Reviews welcome if you want to test it.  ;-)

[2019-07-23 12:56] russellb commented on #31
This error doesn't seem related to the use of GCP and nested virt.

Passwordless root is not required.  The scripts do run `sudo` several times, so it's convenient to set up passwordless sudo, though also shouldn't be required.

The scripts create the `/root/.ssh/id_rsa_virt_power` ssh key.  Is it present?

[2019-07-25 22:01] sb1975 opened #33 "Create and manage additional Clusters on metal3-dev-env"
I cannot see the clusters pls
$ kubectl --kubeconfig .kube/config get machines --all-namespaces
NAMESPACE   NAME     PROVIDERID   PHASE
metal3      centos
[user@centos7 ~]$ kubectl --kubeconfig .kube/config get clusters --all-namespaces
No resources found.
Steps to create and manage additional cluster will be helpful.

[2019-07-26 13:22] russellb commented on #33
cluster-api-provider-baremetal does not yet support creating `Cluster` resources.  With `v1alpha1` of the cluster-api, Cluster support is coupled with each provider.  Ideally, each provider only supports infrastructure provisioning, and control plane provisioning is handled by another layer.  We've only implemented the infrastructure provisioning part.

It seems that a goal of the next version of

[2019-07-26 15:52] sb1975 commented on #33
Closing since this is already open with this reference - https://github.com/metal3-io/cluster-api-provider-baremetal/issues/67

[2019-07-26 15:52] #33 closed

[2019-07-31 09:12] #21 closed

[2019-08-02 05:56] maelk opened #39 "Validate the deployment"
Adding a validation script would help catch issues in the deployment. Specially in CI, the metal3-dev-env deployment needs to be checked. The following points should probably be verified :
- Running kubernetes cluster, reachable
- Running baremetal operator
- Running CAPI provider baremetal operator
- CRDs defined
- Host vms defined
- Networking ok
- Ironic containers running
- baremetal hosts CRs

[2019-08-02 18:51] #32 closed

[2019-08-02 18:52] russellb commented on #26
I believe this is fully resolved now, so closing

[2019-08-02 18:52] #26 closed

[2019-08-02 18:56] russellb commented on #39
+1 to the idea of some automated validation of this env running in CI

[2019-08-09 12:59] russellb opened #41 "Move Ironic into the cluster"
The scripts currently run the ironic containers on the host.  All of these containers should move into the cluster as part of the baremetal-operator pod.  The baremetal-operator repo includes a sample pod manifest that includes ironic as a starting point.  It will likely need some additions to ensure the pod downloads some required images - IPA and an OS image like the CentOS image that the script

[2019-08-16 09:44] ogelbukh commented on #41
Note that current version of the [Metal3 chart](https://github.com/metal3-io/metal3-helm-chart) deploys Ironic as a pod. The next step would be to modify source images to use dedicated images per service container.

[2019-08-20 12:15] markmc commented on #30
Looks like `metal3-dev-env` install script isn't attempting to handle RHEL-8 yet - i.e. just fixing this in openshift-metal3/dev-scripts is all that's needed

[2019-08-20 12:56] hardys commented on #30
Fixed via https://github.com/openshift-metal3/dev-scripts/pull/750

[2019-08-20 12:56] #30 closed

[2019-08-20 13:54] jan-est opened #47 "Add Redfish emulator in dev env"
We want add Redfish support to metal3 to use Redfish interface instead of IPMI. We are thinking to add Redfish emulator like sushy-tool in dev env in parralel of VBMC: https://github.com/openstack/sushy-tools

[2019-08-20 13:56] jan-est commented on #47
@maelk @alanmeadows for airship integration

[2019-08-20 13:59] russellb commented on #47
sounds good to me, thanks for opening the issue to track it.

[2019-08-21 09:31] maelk commented on #39
The basic test is in place and should be expanded when features are added.
We should probably consider moving from a bash script to another testing framework, especially considering that we will need to validate the deployment of Kubernetes on the machines at some point, using SSH. We should probably switch to a full-fledge framework like Robot or something lighter, for example just using Ansible.

[2019-08-23 21:08] dhellmann commented on #31
Is this still an issue?

[2019-08-23 21:09] dhellmann commented on #22
I wonder if it would be easier to just teach the scripts about openSUSE?

[2019-08-23 23:15] pablochacin commented on #22
I took a look but installation requires a significant amount of packages and IIRC some where not available. More recently I learned about [Footloose](https://github.com/weaveworks/footloose) containers hat support systremd and podman. I would try to install on top of it.

[2019-08-24 09:52] pablochacin commented on #22
That said, it definitely worth porting the scripts to opensuse.

[2019-08-24 11:37] russellb commented on #22
Let’s figure out what packages aren’t available. Some are not strictly
needed. If they are required, we can add installation from source.

Sent from mobile device

On Aug 24, 2019, at 5:52 AM, pablochacin <notifications@github.com> wrote:

That said, it definitely worth porting the scripts to opensuse.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directl

[2019-08-24 11:39] russellb commented on #22
I need to finish adding rhel 8 support here. I bet we would share some of the source installs.

[2019-09-09 15:26] russellb commented on #31
feel free to reopen if needed

[2019-09-09 15:26] #31 closed

[2019-10-01 11:00] kashifest opened #69 "Setting Up CAPI- v1alpha2 and CAPBPK for transition"
For, transitioning into v1alpha2 we need to setup the core ClusterApi v1alpha2 CRDs and controllers and also CAPBPK CRDs and controllers so that v1alpha2 workflow can be integrated in metal3-dev-env.

[2019-10-01 11:01] kashifest commented on #69
I am currently working on it

[2019-10-01 12:10] russellb commented on #69
/assign kashifest

[2019-10-01 16:52] russellb commented on #69
/assign kashifest

[2019-10-07 11:46] #41 closed

[2019-10-11 14:17] maelk opened #84 "Introspection timing out on Ubuntu environment"
The introspection times out on Ubuntu environment :
[code]
No idea yet what causes it, investigating

[2019-10-12 02:35] russellb commented on #84
Is this in CI?  or in another dev environment?  I'm just wondering if it could be VM performance related.

[2019-10-14 06:32] #69 closed

[2019-10-14 09:19] hardys commented on #47
https://github.com/metal3-io/metal3-dev-env/pull/48 merged, so can we close this now?

[2019-10-14 19:15] stbenjam opened #86 "Existing KUBECONFIG makes install fail"
I had KUBECONFIG set from a previous deployment with OpenShift Metal3. The workaround was just `unset KUBECONFIG` and run again.

[code]

[2019-10-15 08:11] maelk commented on #84
The DNSmasq process in ironic cluster does not answer DHCP requests. Looking into it

[2019-10-15 09:53] maelk opened #88 "Update to python 3"
In many places we still use python2, we should upgrade before the python2 EOS

[2019-10-15 10:37] maelk commented on #84
The DHCP queries were blocked by iptables on the host.

[2019-10-15 10:50] #47 closed

[2019-10-15 14:22] #84 closed

[2019-10-16 14:53] stbenjam opened #93 "Use firewalld instead of iptables"
We're using iptables for everything but ideally we'd just use firewalld if that's available instead, see for example dev-scripts

https://github.com/openshift-metal3/dev-scripts/blob/master/02_configure_host.sh#L128-L151

[2019-10-18 08:43] alosadagrande opened #98 "Installation fails if an older version of kubectl exists previously"
I am installing the dev environment on a Centos7 latest. It already had kubectl installed, version 1.5 which is the one available at official repo:
[code]

Taking into account to 01_prepare_host.sh

[code]
Kubectl won't be updated to latest version (1.16) which is causing not able to process some yamls via kubectl apply -f.

I would suggest to check version of the kubectl installed as well. In cas

[2019-10-29 13:23] hardys commented on #93
Closed via https://github.com/metal3-io/metal3-dev-env/pull/91

[2019-10-29 13:23] #93 closed

[2019-11-14 19:43] stbenjam opened #133 "Local image testing doesn't work with docker"
The local image support we added in https://github.com/metal3-io/metal3-dev-env/pull/104 only works with podman.  `docker push` doesn't support the same options as podman, it doesn't support the tls-verify option, nor does it support two arguments (local image + destination)

[2019-11-18 16:26] cgruver opened #136 "After configuring the Metal3 networks, Minikube cannot access k8s.gcr.io"
When building Metal3 on Centos 7, the following is displayed upon the second start of Minikube:

    VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository

As a result, the deployment does not proceed beyond:

       - Waiting for task completion (up to 2400 seconds)  - Command: 'check_k8s_entity statefulsets cluster-api-controller-manager   cluster-api-pro

[2019-11-18 16:33] cgruver commented on #136
It's interesting to note that DNS resolution works.

    $ ping yahoo.com
    PING yahoo.com (98.138.219.231): 56 data bytes
    ^C
    --- yahoo.com ping statistics ---
    3 packets transmitted, 0 packets received, 100% packet loss

Feels like either a routing issue, or a firewall sitting in the way somewhere....

[2019-11-18 20:28] cgruver commented on #136
I noticed that the shell function `init_minikube` is called at the end of `01_prepare_host.sh` before all of the networks are configured.  It is then called again in `03_launch_mgmt_cluster.sh`.

By commenting out the invocation of `init_minikube` in `01_prepare_host.sh`, it seems to work now.

The `04_verify.sh` script completed with no errors:

    OK - worker-0 Baremetalhost exist
    OK - work

[2019-11-29 08:04] hardys commented on #22
@pablochacin virtualbmc is now run in a container, so should we close this issue?

I'm unclear if that was the only problem you were aiming to resolve via the use of a chroot - in general I think running components isolated in containers is probably a more flexible solution to dependency problems than a chroot?

[2019-11-29 13:46] pablochacin commented on #22
@hardys IIRC the problem was that the ansible scripts use systemd which is not available in containers without some additional work. But if everything is now in a container, the support for chroot is not required.

[2019-11-29 14:47] hardys commented on #22
all virtualbmc services now run in a container so I think we can close this, feel free to reopen if that proves not to be the case - thanks!

[2019-11-29 14:47] #22 closed

[2019-12-10 14:51] hardys opened #149 "ipv6 provisioning doesn't work on CentOS"
Follow-up issue from #96 - there are two problems preventing any CentOS support for ipv6 provisioning atm:

There aren't any CentOS 8 cloud images yet in http://cloud.centos.org/centos/8/

CentOS 7 doesn't work is because the cloud images are BIOS only. FCOS and Ubuntu both have dual BIOS/UEFI images. Hopefully when CentOS 8 images come out they will be dual boot.

The deployment does currently wo

[2019-12-17 09:22] jan-est opened #156 "[v1alpha3] study and migration"
Cluster API v1alpha3 is on its way and we need to study what it brings along and how these changes are migrated to metal3-dev-env

[2019-12-17 09:23] jan-est commented on #156
/assign @jan-est

[2019-12-18 07:11] vincent-pli opened #158 "Can not provision success in ubuntu 18.04"
I have try on ubuntu 18.04, then I get this:
[code]

I checked the `vbmc` and it like this:
[code]

I try to start them manually, but not work.
Anything I missing, thanks.

[2019-12-18 07:48] vincent-pli commented on #158
I also saw this in the log of `vbmc` container:
[code]

[2019-12-18 13:37] maelk commented on #158
When you say that you could not start them manually, is it using virsh ? is it then a problem related to libvirt ? Do you have any error in the logs from libvirtd ?

[2019-12-18 13:43] maelk commented on #156
@jan-est would it make more sense to file this against CAPBM, considering that we install CAPI via CAPBM and that CAPBM is the most impacted

[2019-12-19 00:11] vincent-pli commented on #158
@maelk
I use `vbmc` to start , both in node and container.
i think `libvirt` works well, only get suspicious logs like this:
[code]
BTW, when I turn to centos 7.6, everything goes well

[2019-12-19 09:27] #156 closed

[2019-12-20 02:04] vincent-pli opened #159 "Hit issue both on Ubuntu and Centos"
I hit same issue, when run `03_launch_mgmt_cluster.sh`, hit issue:
[code]
I checked the env:
[code]

And I try to `resume` the node:
[code]

Could anyone give some suggestion, thanks.

[2019-12-20 21:03] Lukasz-SendGrid opened #161 "Error: IPMI call failed: power status on CentOS Linux release 7.7.1908 (Core)"
Hi, I'm currently trying to set up my dev env and keep hitting the error above. A bit new to the bare metal stuff so any help would be very appreciated.

This is what my virsh looks like:
[code]

Here's what `kubectl get bmh -n metal3` returns
[code]
Logs for the operator show the same story:
[code]

`sudo vbmc list` returned:

[code]
I've tried deleting the bmh crds and applying them again with t

[2019-12-23 08:45] vincent-pli commented on #159
It's my hardware issue, sorry for the issue.

[2019-12-23 08:45] #159 closed

[2019-12-25 23:13] leslie-qiwa opened #164 "operator-sdk can not be stopped by host_cleanup.sh"
After running host_cleanup.sh, operator-sdk is still running with new PID. This is because run-bmo-loop.sh will restart it.

[2020-01-02 03:19] vincent-pli commented on #161
@Lukasz-SendGrid
Could you run the `sudo vbmc list` and append result.

[2020-01-02 16:50] Lukasz-SendGrid commented on #161
hey @vincent-pli this is what `sudo vbmc list` returned:

[code]

[2020-01-06 00:16] vincent-pli commented on #161
@Lukasz-SendGrid
I hit the same issue, you could take a try to modify the configuration of `vbmc` to change the address to `192.168.111.1` rather than `::`, then restart the `vbmc`.

It resolve my issue, good luck for you.

[2020-01-09 16:51] alosadagrande commented on #136
Same here, workaround worked as suggested by @cgruver (thanks!). Why is it called init_minikube twice?

[2020-01-10 13:34] adrianparks opened #172 "metal3-baremetal-operator pod does not successfully deploy on Ubuntu 18.04"
When building Metal3 on Ubuntu 18.04 using the latest master, the metal3-baremetal-operator does not come up:

[code]

Logs show that the ironic-dnsmasq container fails to start because it can't bind to port 53:

[code]

and indeed this is already in use by another dnsmasq process:

[code]
The baremetalhosts remain indefinitely in Provisioning Status "inspecting":

[code]
If I revert to an earlier

[2020-01-13 02:57] vincent-pli commented on #158
Seems a env issue, my ubuntu disabled `ipv6`, will be close, thanks

[2020-01-13 02:57] #158 closed

[2020-01-15 14:14] stbenjam commented on #39
Per @maelk, this isn't relevant any more.

/close

[2020-01-15 14:14] #39 closed

[2020-01-15 14:28] stbenjam opened #180 "Move to CentOS 8"
We should move to using CentOS 8 images everywhere we can.

[2020-01-15 14:33] stbenjam commented on #98
We should determine the minimum version we support, and add a check that it's installed (or handle updating it for the user)

[2020-01-15 14:40] stbenjam commented on #133
Fixed by https://github.com/metal3-io/metal3-dev-env/pull/171

/close

[2020-01-15 14:40] #133 closed

[2020-01-15 14:43] stbenjam commented on #136
It was an optimization for CI, but there might be some bug here we need to investigate why this is causing problems for some people.

Could you file a separate issue for this? Thanks!

[2020-01-15 14:48] stbenjam commented on #149
Looks like there's CentOS 8 cloud images: http://cloud.centos.org/centos/8/x86_64/images/

When https://github.com/metal3-io/metal3-dev-env/issues/180 is resolved, we should test that we can deploy CentOS 8 w/ IPv6

[2020-01-15 14:59] elfosardo commented on #180
all of the images have PRs to convert them to Centos8, most of them are already merged, we're just missing:
https://github.com/metal3-io/ironic-image/pull/128
https://github.com/metal3-io/ironic-inspector-image/pull/37
https://github.com/metal3-io/ironic-hardware-inventory-recorder-image/pull/6

[2020-01-15 15:08] #164 closed

[2020-01-15 15:29] stbenjam commented on #180
/kind feature

[2020-01-20 09:07] fmuyassarov commented on #180
@stbenjam I have tried to move to CentOS8 and faced the following issues:

1.  Installation of tripleo-repos for virtualbmc fails, as it can’t get the right version for CentOS8
[tripleo-repos](https://github.com/metal3-io/metal3-dev-env/blob/dc19530d50cdeaba326e877a4f053fd44e7c6533/centos_install_requirements.sh#L50)

2.  Installation of following packages failed with yum/dnf. However those can be

[2020-01-20 10:44] elfosardo commented on #180
@fmuyassarov this PR #187 should fix 1, and by consequence should fix 2, since those packages are in tripleo repo.

[2020-01-20 11:11] fmuyassarov commented on #180
@elfosardo Thanks.  I'll try meanwhile to build metal3-dev-env based on your PR

[2020-01-20 14:52] maelk commented on #172
Hi @adrianparks ! This was fixed in the ironic-image repository. I'll close this issue, please open a new one if you are hitting further issues.
/close

[2020-01-20 14:52] #172 closed

[2020-01-20 14:52] maelk commented on #172
For info : https://github.com/metal3-io/ironic-image/commit/b4dd91e1890c46fb85f1f2f5e385afccc1b29474

[2020-01-21 18:56] hardys commented on #180
tripleo-repos

Can you clarify this problem, virtualbmc should be run in a container now?

https://github.com/metal3-io/metal3-dev-env/blob/master/02_configure_host.sh#L185

AFAIK the only dependency on the RDO repos now is the openstack/ironic python clients, so if we can agree a different way to install those (even pip) the RDO repos aren't needed at all, which is where I was headed with #157 bu

[2020-01-21 18:58] hardys commented on #180
Just to clarify I'm fine with the #187 if needed as a quick-fix, but as discussed on the PR ideally I'd like to see us break the dependency of the OS on the RDO repos and just rely on containers for everything (including the client)

[2020-01-23 10:16] fmuyassarov commented on #180
Sorry for late reply,
Right, virtualbmc is running in a container, and I believe we don't need the following lines [here](https://github.com/metal3-io/metal3-dev-env/blob/645da0459a89a368f73e2e8a3d7e4504458295ed/centos_install_requirements.sh#L50) , no?

[2020-01-23 16:25] aschiefe opened #195 "Installing metal3 behind an http proxy"
By default this code base does not support corporate proxy settings

Specifically with the proxy issues and ubuntu 18.04 the ubuntu_install_requirements.sh does not appear to honor the proxy configurations for several things:
1.  line 38 sudo add-apt-repository -y ppa:projectatomic/ppa
2.  line 40 add-apt-repository -y ppa:longsleep/golang-backports
3.  line 68 sudo pip3 install

These issues can

[2020-01-27 12:10] e-minguez opened #198 "Running `make clean` and `make` after a failed deployment fails in yum update"
CentOS 7 freshly installed. I've faced #136 so I've tried the workaround by commenting the init_minikube function in the 01 script. I've executed `make clean` then `make` and now it fails in the first yum update:

[code]

Just in case, I've disabled both `yum update` in the `centos_install_requirements.sh` script and the 01 script finish successfully.

[2020-01-27 13:03] e-minguez opened #199 "The name org.fedoraproject.FirewallD1 was not provided by any .service files"
CentOS 7 freshly installed. I've faced #136 and #198 so I've tried the workaround by commenting the init_minikube function in the 01 script and the yum updates. I've executed make clean then make and now it fails when running the following ansible task:

[code]

It looks like a libvirtd restart fixes it:

[code]

[2020-01-27 14:13] e-minguez opened #200 "Default CAPI_VERSION is set to `v1alpha1`"
https://github.com/metal3-io/metal3-dev-env/blob/master/lib/common.sh#L88
https://github.com/metal3-io/metal3-dev-env/blob/master/config_example.sh#L87

According to https://metal3.io/try-it.html#setup the default value should be `v1alpha2`

[2020-01-27 20:48] maelk commented on #200
We need to update the try-it docs

[2020-01-28 13:31] e-minguez opened #205 "Workers created with v1alpha2 doesn't have 'node-role.kubernetes.io/worker=' label"
After a successful worker creation, kubectl get nodes shows <none> as the worker role:

[code]

I think it is just a matter of adding the label here https://github.com/metal3-io/metal3-dev-env/blob/master/crs/v1alpha2/workers_centos.yaml#L53

[2020-01-28 13:43] e-minguez commented on #205
Actually, it is not:

[code]

[2020-01-28 14:50] e-minguez commented on #205
I've tried with this:
[code]

But the kubeconfig in the nodes doesn't have enough permissions to label themselves...

[2020-01-29 14:41] stbenjam commented on #195
Were you able to get this to work? I know there were some discussions on the mailing list about how to make this work.

[2020-01-29 14:43] stbenjam commented on #198
Hack to fix this: https://github.com/metal3-io/metal3-dev-env/pull/203

[2020-01-29 14:44] stbenjam commented on #198
/kind bug

[2020-01-29 14:44] aschiefe commented on #195
I have gotten past this issue, there's still some lingering issues because I haven't gotten it all the way through the verification yet.  I will hopefully get back on this later this week and can supply a patch if I get it figured out.

[2020-01-29 14:44] stbenjam commented on #199
/kind bug

[2020-01-29 14:47] stbenjam commented on #205
/kind bug

[2020-01-29 20:16] ian-howell commented on #161
@Lukasz-SendGrid Did you ever resolve this issue?

I'm seeing this issue on an Ubuntu 18 installation as well. I changed https://github.com/metal3-io/metal3-dev-env/blob/master/vm-setup/roles/virtbmc/tasks/setup_tasks.yml#L78 from `::` to `192.168.111.1`, then ran `make clean; make`. I'm seeing the correct output from `sudo vbmc list`, but I'm still getting the "Failed to get power state for node"

[2020-01-29 21:12] maelk commented on #198
The PR was merged, is this fixed ? Should we close ?

[2020-01-30 14:03] e-minguez commented on #198
I didn't have the chance to test it yet, but I'm assuming it would be so I'm closing the issue. Thanks!

[2020-01-30 14:03] #198 closed

[2020-01-31 16:15] alexlovelltroy opened #208 "No DEPLOY_KERNEL_URL variable set deploying with kustomize"
After using Kustomize to deploy `kubectl apply -k deploy/` the baremetal-operator container goes into CLBO with the error `Cannot start: No DEPLOY_KERNEL_URL variable set`  I adjusted the command in the pod to dump the env before trying to start /baremetal-operator and confirmed that the environment variable is indeed being set correctly in the container.
`command: ['sh', '-c', 'echo The app is ru

[2020-01-31 19:23] #208 closed

[2020-01-31 19:23] alexlovelltroy commented on #208
somehow opened this on the wrong repository.  moved it to https://github.com/metal3-io/baremetal-operator/issues/409

[2020-02-03 20:45] ian-howell commented on #161
This is probably fixed with #210.

Here's the quick and dirty fix:

[code]

[2020-02-04 09:51] alosadagrande commented on #98
PR merged finally, I think it can closed

[2020-02-04 09:51] #98 closed

[2020-02-12 14:09] hardys opened #221 "Deployment fails on new CentOS7 host due to firewall disabled"
On a new minimal CentOS box we see this error from 01_prepare_host in configure_minikube:

[code]

There seem to be two problems - it's assuming FirewallD but we assume iptables on CentoOS7 - AFAICS firewalld is the correct choice on 7.7 though:

[code]

The second issue is we enable the firewall in `02_configure_host.sh` which is too late since the error above happens during `01_prepare_host.sh`

[2020-02-12 14:22] stbenjam commented on #195
@aschiefe Any update on this? Thanks!

[2020-02-12 14:42] aschiefe commented on #195
I'm still unable to get a successful run all the way through verification.  I haven't dug into it much since my last attempt, I'll try again today.  It's possible I don't have the right setup to accomplish a test install.

[2020-02-12 14:59] maelk commented on #221
we could remove the minikube setup from 01_prepare_host . It does not bring any value anymore since we do not bake it in CI images anymore. That would solve the second issue, plus some problems that were raised in other issues here.

[2020-02-12 15:15] hardys commented on #221
Ok so I'm not sure we can use firewalld as it shows an error like:

[code]

It seems that the centos7 libvirt/firewalld default configuration differs from RHEL/CentOS8.

[2020-02-12 16:57] hardys commented on #221
Hmm I just re-tested from scratch with a freshly installed CentOS install and couldn't reproduce which is strange, closing this and will reopen if I figure out a reproducer

[2020-02-12 16:57] #221 closed

[2020-02-13 09:17] hardys commented on #221
Actually this looks like a duplicate of https://github.com/metal3-io/metal3-dev-env/issues/199 - I suspect my second test worked because I did an extra reboot and this restarted libvirt (although I thought I did try restarting that the first time, maybe I'm mistaken)

[2020-02-13 16:42] aneeshkp opened #222 "run make with vlapha1, throws No rule to make target `manifests'. Stop"
Running make with the following config  thorws an error `No rule to make target `manifests'.  Stop`
config_$USER
export BMOBRANCH="master"
export BMO_RUN_LOCAL=true
export CAPBM_RUN_LOCAL=ture
export CAPBMBRANCH="master"
#default v1alpha1
#export CAPI_VERSION=v1alpha1

[script link ](https://github.com/metal3-io/metal3-dev-env/blob/master/03_launch_mgmt_cluster.sh#L203)

[2020-02-15 15:13] Arvinderpal opened #224 "PROVISIONING_NETMASK is not calculated"
ipcalc has no flag named `--netmask`, at least for the version running on Ubuntu 18.04.1 LTS. This results in PROVISIONING_NETMASK not being calculated properly.

[code]
Alternative is to just write a simple bash function to do this calculation. I'll send a PR for that.

OS: Ubuntu 18.04.1 LTS

[2020-02-20 17:34] hardys commented on #180
See #223 which adds support for CentOS8 hosts without any dependency on the RDO repos

[2020-02-21 08:30] hardys commented on #180
@maelk now https://github.com/metal3-io/metal3-dev-env/pull/223 landed, and all the images moved to centos8 (@elfosardo) - the last remaining item is moving the centos CI to use centos8, then we can deprecate centos7 support?

How will we go about moving the integration CI to centos8?

[2020-02-21 08:44] maelk commented on #180
That should be pretty straightforward. We just need to change the image build job to use another base. I'll put the patchset together now.

[2020-02-21 09:10] maelk commented on #180
The image is now centos8 ! I'll trigger the tests somewhere to check everything goes fine.

[2020-02-21 11:45] maelk opened #232 "Minikube is unstable"
Sometimes when running the deployment, specially in CI, Minikube crashes, and the api server is unreachable. This is usually visible in the logs as :

`Unable to connect to the server: net/http: TLS handshake timeout`
or
`Unable to connect to the server: dial tcp 192.168.39.179:8443: connect: no route to host`

We should investigate this issue to figure out if the problem is from the way we use it

[2020-02-21 16:13] alosadagrande commented on #232
I can say that I increased CPU and memory of the minikube VM in order to check if that was the culprit. However, same behavior as explained in the issue.

[2020-02-22 20:49] fmuyassarov commented on #88
I have a [PR#214](https://github.com/metal3-io/metal3-dev-env/pull/214) to use python3 when building Ubuntu based Metal3-dev-env.

[2020-02-24 13:34] maelk commented on #161
Might be fixed in #233

[2020-02-24 14:05] hardys commented on #161
I have also seen issues where permissions problems prevented vbmc to control the nodes (normally due to running the scripts as root, then switching to a regular user).

A helpful debug step beyond just checking the `vbmc list` is to check you can query the power status directly via ipmitool (first on the test host, then you can test the same from inside the ironic-conductor container on the cluste

[2020-02-26 14:08] stbenjam commented on #195
Any update on this? Thanks

[2020-02-26 14:14] stbenjam commented on #222
It looks like you're using the wrong branches - if you want to deploy with v1alpha1, change CAPBM branch to be v1alpha1, otherwise use version v1alpha3.

[2020-02-26 14:14] stbenjam commented on #222
Please re-open if you're still having issues, thanks!

/close

[2020-02-26 14:14] #222 closed

[2020-02-26 14:15] stbenjam commented on #224
/kind bug

[2020-02-27 11:50] fmuyassarov commented on #88
@maelk shall we close this issue? If I'm not missing anything, I think we now use python3 in all the places.

[2020-02-27 13:42] maelk commented on #88
yes, I think so.
/close

[2020-02-27 13:42] #88 closed

[2020-03-04 22:08] fmuyassarov commented on #200
@e-minguez During the last community meeting it was decided that default CAPI version should be switched to v1alpha3. As such,  I have opened couple of PRs [#62](https://github.com/metal3-io/project-infra/pull/62), [#155](https://github.com/metal3-io/metal3-io.github.io/pull/155) to update docs with regard to this change.

[2020-03-05 13:21] #224 closed

[2020-03-06 10:28] #200 closed

[2020-03-11 07:24] maelk opened #249 "Add a clusterctl based deployment method"
Now that CAPI v1alpha3 is released, we should add a clusterctl based deployment to validate the integration.

What needs to be done:

- download clusterctl
- run init command instead of deploying CAPM3
- run config command to create the cluster instead of using our own template, with the proper variables in place.

There could be a switch to select which deployment method should be used.

[2020-03-11 14:16] stbenjam commented on #195
Going to close this, please re-open if you have some new information

/close

[2020-03-11 14:16] #195 closed

[2020-03-13 15:56] maelk opened #258 "Add an alternative to Minikube based on a Kind cluster"
A lighter option, for CI for example, would be to create a Kind cluster and deploy BMO, CAPI, CAPM3 inside while deploying Ironic outside of the cluster. This would help us get rid of the Minikube stability issues.

[2020-03-16 13:33] fmuyassarov commented on #180
Should this issue be closed now? or shall we wait until we switch to using centos-8 cloud image for workers/controlplane ?

[2020-03-16 15:47] fmuyassarov commented on #180
/cc @hardys
/cc @maelk
/cc @elfosardo

Should this issue be closed now? or shall we wait until we switch to using centos-8 cloud image for workers/controlplane as well ? If you think that we should wait until we start using centos-8 cloud image for workers/conrolplane as well I have a WIP [PR#257](https://github.com/metal3-io/metal3-dev-env/pull/257) for that.

[2020-03-17 05:55] maelk commented on #180
I think we can wait and keep this open until everything is moved to CentOS8

[2020-03-18 17:01] alosadagrande opened #263 "Control-plane creation error when using CentOS 8 as IMAGE_NAME_CENTOS"
I have been testing the official cloud CentOS 8 image as IMAGE_NAME_CENTOS
 in metal3-dev-env without success.

Some issues/ facts:

- I am using cloud image [CentOS-8-GenericCloud-8.1.1911-20200113.3.x86_64.qcow2](https://cloud.centos.org/centos/8/x86_64/images/CentOS-8-GenericCloud-8.1.1911-20200113.3.x86_64.qcow2)
- CentOS 8 ships cloud-init 18.5, so it is the same version as the centos-update.

[2020-03-18 17:03] alosadagrande commented on #180
Related issue #263 when creating control-plane VM in the target cluster.

[2020-03-18 17:17] maelk commented on #263
This is what was done on the Centos-updated.qcow2 image :
[code]

[2020-03-18 17:19] maelk commented on #263
It looks like it is trying to write a file with the "centos" user as owner, but the "centos" user does not exist. Can you show the content of the "files" section ?

[2020-03-18 17:23] alosadagrande commented on #263
Sure:

[code]

[2020-03-18 17:25] maelk commented on #263
The issue might be the ssh key here, it does not get created properly because the user or group "centos" does not exist

[2020-03-18 17:55] maelk commented on #263
The actual problem is that the files are written before the users are created in cloud-init. So the SSH key file will fail to be created. All following files will not be created either. Then cloud-init creates the user and tries to run Kubeadm, this fails because Kubeadmconfig.yaml is absent, since it was not created due to the failure on the ssh key. The solution is to create the ssh key with own

[2020-03-19 11:45] alosadagrande commented on #263
Agree. Thanks for the explanation. I already changed the KubeadmControlPlane with your suggestions and the target cluster control-plane boot up successfully.

I'll prepare a PR and close the issue when done.

Thanks @maelk and @fmuyassarov

[2020-03-20 13:50] alosadagrande opened #265 "Error: Failed to associate the BaremetalHost to the Metal3Machine"
While I was setting metal3-dev-env to create target clusters based in CentOS 8 as base image I face this error with Machines:

[code]

I can say that I see them Running and suddenly become Failed after an uncertain period of time. However, it is not always like that. Sometimes only the control-plane or some workers. I can see from the  capi-controller-manager:

[code]

From my point of view everyt

[2020-03-20 16:30] maelk commented on #265
Did you see this behavior with CentOS7 ?
Can you please add a yaml output of one of the machines ? There should be more info than just "Failed".

[2020-03-22 09:32] maelk commented on #265
This is independent of the OS. Here are the machines in a failed CI run :
[code]
The problem is that CAPM3 reports an error when it fails to associate the machine (i.e. requeues) and CAPI picks it up, but does not pick up the change back to normal state. CAPM3 needs to be modified to not set the Metal3Machine to error when it is a transient error.

This will be tackled in https://github.com/metal3

[2020-03-22 09:32] #265 closed

[2020-03-25 09:26] alosadagrande commented on #263
PR #264 solved the issue

[2020-03-25 09:26] #263 closed

[2020-03-26 10:01] Xenwar opened #271 "Freeze kubeadm, kubelet and kubectl version"
Provisioning a control plane is failing for the reason shown below.
Currently, we need to make changes such as [this](https://github.com/metal3-io/metal3-dev-env/pull/270) in order to start using the new version.

However, this does not make the metal3-dev-env statble.

Possible solution.
- Install specific versions of kubeadm, kubelet and kubectl (instead of latest).
- Verify that irrespective of

[2020-03-26 10:02] Xenwar commented on #271
/assign @kashifest

[2020-03-29 05:41] maelk opened #276 "Ubuntu target nodes networking setup fails"
When deploying the Ubuntu target cluster, the networking setup done with netplan fails with the following error :
[code]
/assign @kashifest
/kind bug
/priority important-soon

[2020-04-01 19:07] #276 closed

[2020-04-02 10:26] #271 closed

[2020-04-07 13:46] derekhiggins opened #285 "Running metal3-dev-env removes old GOPATH"
If running as root, then GOPATH is cleaned up up each time vm-setup/install-package-playbook.yml is applied, zapping away any local edits.

[2020-04-07 18:26] maelk opened #287 "CentOS target cluster deployment fails"
https://github.com/metal3-io/metal3-dev-env/pull/273 broke the CentOS deployment of a CAPI v1alpha3 cluster. It now fails with :

[code]

/assign @Xenwar

[2020-04-07 18:41] maelk opened #288 "Broken v1a2 deployment scripts"
The v1alpha2 scripts to provision target clusters are broken both for Ubuntu and Centos, they should be removed, in the templates of the ansible role and the deployment of v1alpha2 should also be removed.

[2020-04-08 04:54] Xenwar commented on #287
Tested it on Metal3-dev-env, and was able successfully deploy a control plane.
env:
[code]

output
[code]

[2020-04-08 05:01] Xenwar commented on #287
And, if #273 has broken the Centos deployment, why is that the CI tests did not catch it ?

[2020-04-08 05:33] maelk commented on #287
The CI does not test the CentOS deployment. It tests an Ubuntu deployment on a CentOS metal3-dev-env machine. So the only way to test a CentOS deployment is manually. Maybe we should make it so that when we run a centos test, we use a 32GB machine and deploy CentOS target cluster.

[2020-04-08 05:45] maelk commented on #287
Here is a PR to introduce CentOS tests on the CI : https://github.com/metal3-io/project-infra/pull/72

[2020-04-09 04:36] Xenwar commented on #287
Thanks.
please change the description as well. As was indicated in the output, #273 did not cause the deployment failure.

[2020-04-09 05:10] maelk commented on #287
This seems to have been a case-specific failure

[2020-04-09 05:10] #287 closed

[2020-04-15 13:38] stbenjam commented on #288
Should be addressed by https://github.com/metal3-io/metal3-dev-env/pull/292

[2020-04-16 11:07] codificat commented on #205
If this is specific to v1alpha2 it will become obsolete after https://github.com/metal3-io/metal3-dev-env/pull/292

[2020-04-17 05:25] maelk commented on #205
The same issue happens for v1alpha3. We could fix this in the Kubeadmconfig if we directly put it in the node labels in Kubelet parameters.

[2020-04-17 05:27] maelk commented on #205
The same issue happens in v1alpha3. We could try to fix it by adding it as a label on the nodes directly in the kubelet parameters of the kubeadmconfig

[2020-04-20 06:20] hroyrh opened #295 "metal3 deployment on Centos7.7 fails"
When I tried to deploy metal3 on Centos7.7, it first gave an error saying - dnf is missing. After installing dnf and retrying I am getting this error :
[code]
If Centos 7.7 is no longer supported, please mention that in the documentation.

[2020-04-20 10:42] codificat commented on #295
Related: metal3-io/metal3-io.github.io#173 is about updating the try-it document in the website to switch from CentOS 7 to 8

[2020-04-20 14:04] codificat commented on #295
@hroyrh the doc was updated, does it look ok now? If so feel free to close the issue, thanks.

[2020-04-21 04:32] hroyrh commented on #295
Yes, it looks good.

[2020-04-21 04:32] #295 closed

[2020-04-21 09:02] Xenwar opened #296 "Add cloud init log out put"
In the CI, some jobs are failing and the output does not reveal much information.
This [PR](281) is a case in point. It was failing due to missing binaries and the outputs did not show that. We were required to login to the provisioned machines and get the logs.

It would be good the content of ```/var/log/cloud-init-output.log``` is also shown at the end as it would make pin pointing errors easy.

[2020-04-21 09:11] Xenwar commented on #296
/assign @maelk

[2020-04-21 09:53] maelk commented on #296
why was this assigned to me ? I don't have bandwidth to work on this for now.

[2020-04-21 09:55] Xenwar commented on #296
/assign @fmuyassarov

[2020-04-21 11:05] Xenwar commented on #296
Manually, it could be done like this.
`ssh USERNAME@SERVER_IP cat /var/log/cloud-init-output.log`

This could be done from bash or ansible.

[2020-04-22 08:14] fmuyassarov commented on #296
Maybe it can be done with `sudo virsh console VM_NAME` to see cloud-init execution on the fly.
Example output:

=======================================================================
[  248.960289] cloud-init[1559]: Upgraded:
[  248.963800] cloud-init[1559]:   cloud-init-18.5-7.el8_1.1.noarch
[  248.965885] cloud-init[1559]:   qemu-guest-agent-15:2.12.0-88.module_el8.1.0+297+df420408.3.x86_64
[

[2020-04-28 07:21] kashifest opened #298 "Target cluster endpoint is unreachable when we do make clean and make again due to firewall rules"
When we do a `make clean` and `make` again and try to do the provisioning of the control-plane again we see the following error in logs of CAPI and CAKCP:
[code]
This particularly happens when we have Kind as the ephemeral cluster and we have done a `make clean` and `make` again. The iptable rules are as follows:

[code]

As can be seen the REJECT rule for `baremetal` comes now in the beginning be

[2020-04-28 12:05] maelk commented on #258
This feature was merged

[2020-04-28 12:05] #258 closed

[2020-04-28 12:06] maelk commented on #249
@mikkosest please add a reference ("Fixes ...") in your metal3-dev-env PR that introduces clusterctl

[2020-04-29 06:31] maelk commented on #199
This was for CentOS 7 . Considering that the supported version is now CentOS 8, I will close this for now. Feel free to reopen if this needs to be fixed on CentOS 7 or is reproduced in CentOS 8
/close

[2020-04-29 06:31] #199 closed

[2020-05-07 08:15] bigben80 opened #307 "user without a github token now can not fetch providers during "clusterctl init""
Hi,

I'm using metal3 provisioning VMs during last several weeks, from this week I got following error messages in step "03_launch_mgmt_cluster.sh":

_+ ./clusterctl init --infrastructure=metal3:null -v5
Using configuration File="/home/ubuntu/.cluster-api/clusterctl.yaml"
Installing the clusterctl inventory CRD
Creating CustomResourceDefinition="providers.clusterctl.cluster.x-k8s.io"
Fetching prov

[2020-05-07 12:10] maelk commented on #307
We are now using clusterctl as part of the metal3-dev-env deployment flow. Depending on your setup, you might end up hitting the rate limit from Github. It is however very easy to work around, by getting a token from github (no permissions needed) and setting it in the GITHUB_TOKEN environment variable.

[2020-05-08 07:51] bigben80 commented on #307
Hi maelk,

Thanks for the update, I'll use a token instead.

[2020-05-08 07:51] #307 closed

[2020-05-11 12:10] kashifest commented on #298
/assign @smoshiur1237

[2020-05-11 12:13] smoshiur1237 commented on #298
/assign @smoshiur1237

[2020-05-12 21:56] fmuyassarov commented on #288
@maelk should it be closed?

[2020-05-12 21:58] fmuyassarov commented on #249
@maelk @mikkosest should this issue be closed now?

[2020-05-12 22:01] fmuyassarov commented on #180
@maelk is there anything else left related to this issue?

[2020-05-14 05:28] maelk commented on #249
yes, that was implemented, thanks @fmuyassarov
/close

[2020-05-14 05:28] #249 closed

[2020-05-14 05:28] maelk commented on #288
yes,
/close

[2020-05-14 05:28] #288 closed

[2020-05-14 05:37] maelk opened #316 "Hardcoded registry IP in local images variables"
The external subnet is parameterized, with a default to 192.168.111.0/24 . However, the registry IP is hardcoded, when setting up docker/podman in ubuntu/centos_install_requirements.sh and in the image when using local images (02_* and 03_*) as 192.168.111.1:5000 . This should be parameterized, setting the IP address in a variable in lib/network.sh and using it in all those files.

[2020-05-14 06:22] maelk commented on #180
I don't think so
/close

[2020-05-14 06:22] #180 closed

[2020-05-14 14:56] #136 closed

[2020-05-14 15:56] #149 closed

[2020-05-22 06:04] maelk commented on #232
This type of problems have not been seen for a while now. closing for now
/close

[2020-05-22 06:04] #232 closed

[2020-05-29 10:46] TBBle commented on #205
I believe the kubeadmconfig is the exact path that's blocked. When applying the `node-role.kubernetes.io/master` label, kubeadm does it though the API _after_ creating the node. It's the same reason @e-minguez 's attempt failed, because nodes should _not_ be able to label their own role, that's up to the cluster admin who is presumably responsible for kubeadm being run, and hence kubeadm will appl

[2020-06-02 07:22] maelk commented on #296
Solved by #330

[2020-06-02 07:22] #296 closed

[2020-06-02 07:23] maelk commented on #298
This should be fixed by #311 @kashifest can you confirm ?

[2020-06-02 07:26] kashifest commented on #298
Yes I guess. we can close this issue

[2020-06-02 07:26] #298 closed

[2020-06-04 20:13] #316 closed

[2020-06-15 13:59] maelk commented on #205
Then there is no direct solution for that. We could add some logic in the CAPM3 controller, so that it would set the label, the same way it currently sets the provider ID of a node. I am not sure that the complexity this would add would be justified. Maybe it would be up to the operator (one layer above CAPI) to do this kind of operations ?

[2020-06-19 05:07] Nickuru opened #348 "ipmitool PXE bug"
I have a clean metal3-dev-env installation on baremetal. The installation was successfully completed.

When I applied provision_cluster and then provision_controlplane i got endless "Provisioning" state in "kubectl get baremetalhosts".

"openstack baremetal node list" showed a Clean Failed error (HTTP 400). That's why I decided to go watch Ironic logs. Ironic logs give me this:

[code]

And when I

[2020-06-22 05:43] maelk commented on #348
I think this is Ironic's IPMI driver that would need to be modified. Ironic git repo is on Opendev https://opendev.org/openstack/ironic

[2020-06-23 03:35] udayruddarraju commented on #348
Experiencing the same issue on master

[2020-06-23 03:55] Nickuru commented on #348
Fix it by "use_ipmitool_retries = true" in /etc/ironic/ironic.conf
Actualy, there is a huge number of values in this file that you need to change in order for the metal3-dev-env installation to start correctly.

[2020-06-23 06:17] maelk commented on #348
This might need to be modified in the github.com/metal3-io/ironic-image. Re-opening and transferring the issue to discuss it there

[2020-06-23 15:05] #161 closed

[2020-06-24 08:42] Xenwar opened #351 "Parameterize controllers' versions"
At the moment, the [CAPM3RELEASEPATH](https://github.com/metal3-io/metal3-dev-env/blob/ad969a89d4d47f025c3a03d3d4bfa621a6026aa1/lib/common.sh#L104
) parameterize  CAPM3 versions.

If other controllers are also parameterized in the same manner, it would allow make controlplane-components upgrade process predictable.

[2020-06-24 11:17] maelk commented on #351
If I understood correctly, you're rather wanting to parameterize the versions of the controllers deployed, i.e. parameterize the clusterctl init command like `--infrastructure=metal3:"${CAPM3RELEASE}"` to be able to deploy a specific version of each, if they are already published. Is that right ?

[2020-06-24 15:28] kashifest opened #353 "Latest ansible versions should be used in metal3-dev-env"
Currentlly, in ubuntu based deployments ansible version is fixed to [2.9.1](https://github.com/metal3-io/metal3-dev-env/blob/master/ubuntu_install_requirements.sh#L46) . In case of Centos, it was latest, but since version 2.9.9, the following issue is faced

[code]
This needs to be further investigated and latest ansible version should be used in case of ubuntu/centos based deployments

[2020-06-25 06:00] Xenwar commented on #351
Yes, that is correct.

[2020-06-25 06:05] Xenwar commented on #351
Simple grepping, I see that only CAPM3 is deployed via `cluster init`.
Could there be other locations, other than metal3-dev-env where other controllers are deployed the same way ?

[2020-06-25 06:18] maelk commented on #351
the rest of the controllers are deployed by default, you can omit the parameters in clusterctl init. so they would need to be added and parameterized

[2020-06-28 18:15] l4z41 commented on #195
If the `http_proxy` variable is set in `/etc/environment` and not via `export http_proxy=` then it will respect that for `sudo add-apt-repository -y ppa:projectatomic/ppa`.

For the _ironic-ipa-downloader_ I got it to work with simply editing the `function kustomize_overlay_bmo()` in `03_launch_mgmt_cluster.sh` with adding the environment variables manually to `ironic-bmo-configmap`.

This could b

[2020-06-28 18:22] l4z41 commented on #195
Additionally `no_proxy` is not set, so there will be problems with ip ranges and hostname `minikube`. Please embed further third party code as submodule or directly into image.

/open

[2020-07-02 08:21] Xenwar opened #360 "BMH fluctuating between provisioning and deprovisioning"
How to reproduce:
- provision a controlplane node
Expected:
  provisioning succeeds.

Current result:
'PROVISIONING STATUS' changes beteween provisioning and deprovisioning indefinately.

Watching for the bmh gives the following error log.
[code]

[2020-07-02 08:25] Xenwar commented on #360
kubectl logs -n metal3 metal3-baremetal-operator-7f6d4dbc6d-pqt8c
[code]

[2020-07-02 08:27] Xenwar commented on #360
kubectl logs -n capm3-system capm3-controller-manager-c5cb7997-rsckz manager
[code]

[2020-07-03 08:39] Xenwar opened #363 "Metal3-dev-env recurring problems"
This issue maintains a list of issues that are seen when using metal3-dev-env environment.
The problems could be caused by any of the controllers. This seems to be a common location between all of them.
Most the problems are faced by multiple developers which results in duplicate work and time spent in debugging.

**ToDo:**

For each problem you see,

1. Add a new comment with a brief description

[2020-07-06 22:31] kubealex opened #366 "Running make as root is not forbidden but minikube fails the init"
If you run the make command as root, it is not prohibited, but when it comes to initialize minikube, it fails if provider is KVM/libvirt

I created the PR https://github.com/metal3-io/metal3-dev-env/pull/365 to add an initial check.

[2020-07-08 03:10] udayruddarraju opened #368 "ironic node auth seems to be broken"
I have been trying to provision a metal3 cluster all day today and something with ironic node agent token auth seems to be broken. I was able to use my list of steps multiple times in the past couple of days and make it work.

### Setup details

5 baremetal hosts running inside an azure VM:
[code]

### Error details

As you can see above, the baremetalhost is stuck in provisioning state forever. O

[2020-07-08 05:18] maelk commented on #368
Thank you for reporting this, we caught the same thing in the CI this night. We're investigating.

[2020-07-08 13:39] stbenjam commented on #353
/kind bug
/priority backlog

[2020-07-08 13:44] stbenjam commented on #360
Can you give some steps to reproduce this problem?

[2020-07-08 13:50] stbenjam commented on #363
Could you clarify how this issue will be used? To aggregate issues from multiple repos?

[2020-07-08 19:35] udayruddarraju opened #369 "Pod network connectivity broken with calico and kube proxy"
## Environment Setup

I could not find a good doc in the metal3 documentation that describes or mentions the calico manifest and changes that need to be applied to the target cluster to get the Nodes into a Ready state. Once the environment is setup using provision_cluster, provision_controlplane and provision_workers, this is the state of my management cluster and target cluster.

[code]

[code]

[2020-07-09 05:29] maelk commented on #369
We have an example setup of calico on the deployed nodes in metal3-dev-env deployment verifications scripts : https://github.com/metal3-io/metal3-dev-env/blob/master/vm-setup/roles/v1aX_integration_test/tasks/verify.yml#L83 . To get it working, we had to change the CIDR as you did, but then also change the autodetection method. Have a look and let us know if that helps.

[2020-07-09 05:30] maelk commented on #369
That would anyways benefit from a documentation update.

[2020-07-09 07:11] uruddarraju commented on #369
I actually did both changing the cidr and also setting the autodetection to be interface=eth1 without luck. Any pods that is deployed on the cluster worker nodes is having connectivity issues. Also it is not clear how should the ironic deployment move while we pivot? Is it expected for ironic to work when the management control plane is moved into the target cluster eventually?

[2020-07-09 07:36] maelk commented on #369
the pivoting is another story, and will not be successful as long as you do not have a proper setup on the target cluster, including the CNI. Could you give more info, such as the calico deployment you applied, the logs of the failing pods, the logs of the calico pods etc.

[2020-07-09 17:18] udayruddarraju commented on #369
I think I was able to fix this by running the following iptables clear before I installed calico on all nodes:

[code]

This fixed a few issues for me. I think there might be some default iptable rules that are being created during cloudinit/initial bootstrap that might be causing a few issues for me.

[2020-07-09 17:19] udayruddarraju commented on #369
I will close this for now as I found a work around.

[2020-07-09 17:19] #369 closed

[2020-07-09 18:16] maelk commented on #368
This should now be resolved, please re-open if you are still hitting the issue.

/close

[2020-07-09 18:16] #368 closed

[2020-07-10 10:44] Xenwar opened #374 "Upgrade of workers via scale-in fails due to node name not being deleted."
**How to reproduce:**

You might need to run this multiple times before seeing the issue.

1. Provision a controlplane node
2. Provision three worker nodes

Now, with the absence of any free node, upgrade the boot disk image of the workers
with the following values in machinedeployment resource.
[code]

In order to use a new boot disk image, you need create a new metal3MachineTemplate and
change t

[2020-07-10 10:44] Xenwar commented on #374
[code]

[2020-07-10 10:44] Xenwar commented on #374
[code]

[2020-07-10 10:45] Xenwar commented on #374
[code]

[2020-07-10 10:45] Xenwar commented on #374
[code]

[2020-07-10 10:46] Xenwar commented on #374
Nothing relevant seem to be in the controller logs. They are added here for completeness.

controllers logs
kubectl logs -n metal3 metal3-baremetal-operator-7f6d4dbc6d-qgdd7 | grep node-3

[code]
kubectl logs -n capm3-system capm3-controller-manager-c5cb7997-k7z5f manager | grep node-3

[code]

[2020-07-10 20:05] udayruddarraju commented on #374
+1. Seeing the same behavior.

[2020-07-15 09:48] Xenwar commented on #360
This comes rarely and is not predictable. So, it requires trial and error.

[2020-07-15 09:49] Xenwar commented on #351
Handled by https://github.com/metal3-io/metal3-dev-env/pull/361.
CAPM3 release was already configurable

[2020-07-15 10:45] maelk commented on #351
closing this then. Please re-open if needed
/close

[2020-07-15 10:45] #351 closed

[2020-07-20 08:15] Xenwar opened #387 "Metal3-dev-env ironicendpoint clean up issue"
The issue occurs on metal3-dev-env in the following cases.
1. Use kind cluster, clean and use minikube
2. Use minikube cluster, clean and use minikube again.

In both cases, The IP ```172.22.0.1/24``` is assigned multiple times.

Provisioning of a CP node also fails for the following reason.
[code]

[2020-07-20 10:10] maelk commented on #387
/kind bug
/priority important-soon

[2020-07-21 06:11] #366 closed

[2020-07-22 13:53] stbenjam commented on #374
We think this might be a bug in CAPI itself, but we'll investigate to make sure it's not specific to Metal3.

/kind bug
/priority important-soon

[2020-07-24 05:50] Xenwar commented on #374
Thanks for info.
For documentation purposes, the problem is seen with controlplane nodes
capi=v0.3.4 and capm3=v0.3.0

[code]

[2020-07-28 13:06] maelk opened #396 "Local repository wrongly checked out in script 03_"
In file 03_ , at

- https://github.com/metal3-io/metal3-dev-env/blob/master/03_launch_mgmt_cluster.sh#L30
- https://github.com/metal3-io/metal3-dev-env/blob/master/03_launch_mgmt_cluster.sh#L44
- https://github.com/metal3-io/metal3-dev-env/blob/master/03_launch_mgmt_cluster.sh#L58

we forcefully checkout the branch of the repo. In the CI, we use a local repo where we have merged the PR into master

[2020-07-28 14:53] #396 closed

[2020-07-30 02:53] zhouhao3 opened #404 "Error when executing script 03"
I manually executed the scripts from 01 to 03, and when executed to 03_launch_mgmt_cluster, the following error occurred:
[code]
log info:

[code]
system info:
[code]

[2020-07-30 06:04] maelk commented on #404
That looks like a network issue, or maybe Github was unavailable at that point ? Can you please try again to run 03 script ? You might need to run make clean / make to clean intermediary states.

[2020-07-30 07:43] zhouhao3 commented on #404
Thank you, after investigation, it is found that there is a problem with minikube, which prevents kubelet from connecting to the cluster.

[2020-07-30 07:43] #404 closed

[2020-08-03 22:03] sb1975 opened #409 "Correct steps to deploy metal3-dev-env using docker and v1alpha4"
When I specify CONTAINER_RUNTIME=docker and CAPM3_VERSION=v1alpha4 ,
the script https://github.com/metal3-io/metal3-dev-env/blob/master/scripts/feature_tests/feature_test_provisioning.sh
keeps running indefinitely... is something broken pls ?

<localhost> EXEC /bin/sh -c 'echo ~esudbat && sleep 0'
<localhost> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /home/esudbat/.ansible/tmp/ansible-tmp-15

[2020-08-05 13:48] dhellmann commented on #409
This readme may help: https://github.com/metal3-io/metal3-dev-env/blob/master/scripts/feature_tests/README.md

[2020-08-05 13:49] dhellmann commented on #409
These docs may also help: https://metal3.io/blog/2020/02/18/metal3-dev-env-install-deep-dive.html and https://metal3.io/blog/2020/06/18/Metal3-dev-env-BareMetal-Cluster-Deployment.html

[2020-08-05 15:07] sb1975 opened #410 "Pivot fails"
Pivot to the target cluster
./scripts/provision/pivot.sh

When I run the above script, it fails with below error :
The full traceback is:
  File "/tmp/ansible_docker_container_payload_yx1i62ad/ansible_docker_container_payload.zip/ansible/module_utils/docker/common.py", line 361, in __init__
    super(AnsibleDockerClient, self).__init__(**self._connect_params)
  File "/usr/local/lib/python3.6/dist-

[2020-08-09 10:57] fmuyassarov commented on #409
@sb1975 Can you please specify what were you trying to run or achieve? Because, `feature_test_provisioning.sh` is used to test pivoting and remediation related tests.

[2020-08-09 11:04] fmuyassarov commented on #410
Seems that `ironic-endpoint-keepalived` isn't present in the source cluster. It is failing while trying to delete the container [here
](https://github.com/metal3-io/metal3-dev-env/blob/0fb1740f4402bef689c24e83ecfee42b31246b9f/vm-setup/roles/v1aX_integration_test/tasks/move.yml#L2).
Can you please check if you have `ironic-endpoint-keepalived` container running in the source cluster?
/cc @kashifest

[2020-08-10 11:24] kashifest opened #418 "Feature test upgrade environment variables are not exported properly"
The env variables exported for feature test upgrade are exported in a way that falls within the sub-shell during the call and the variables are not known outside the subshell. The current declaration is here:

https://github.com/metal3-io/metal3-dev-env/blob/master/scripts/feature_tests/setup_env.sh#L8,9

As a result, when generating the cluster template, the correct CAPM3 version is not looked fo

[2020-08-11 20:49] hroyrh opened #424 "Redeployment with metal3-dev-env fails"
After successfully deploying Metal3 using metal3-dev-env, if we do a `make clean` and then redeploy using `make`, the deployment fails. This seems to be due to recreating device `ironicendpoint` already existing from previous deployment, maybe a cleanup issue ?
Here is a snapshot of the error :

`make`
[code]

[2020-08-12 06:45] maelk commented on #424
Thank you for the report. At what point of the make is this happening ? while running the 01_ or the 03_ script ?

[2020-08-12 09:48] hroyrh commented on #424
At the 03_launch_mgmt_cluster.sh script.

[2020-08-12 10:09] fmuyassarov commented on #424
@hroyrh Is it CentOS machine? If yes, I'm wondering how come there is ironicendoint interface. Because normally it should not be there if you have CentOS based Metal3-dev-env (i.e. when Minikube is used for the ephemeral cluster).

[2020-08-12 10:37] hroyrh commented on #424
@fmuyassarov Yes, its a CentOS based image.

[2020-08-12 10:52] fmuyassarov commented on #424
Ah I see. It is the interface within the Minikube VM.

[2020-08-12 10:59] maelk commented on #424
was Minikube properly deleted after the make clean ?

[2020-08-12 11:08] fmuyassarov commented on #424
It seems Minikube cluster wasn't deleted properly in your case.
I have tested it locally trying to reproduce it, but didn't face the same issue. I re-run `make` after `make clean` and I can see that everything is deployed as expected.

[code]

[2020-08-12 11:11] hroyrh commented on #424
I suspect that to be the case, but isn't Minikube supposed to be delete when we do a `make clean` and I faced this issue each time I cleaned and redeployed. I am deploying it on a Rhel8 machine.

[2020-08-12 11:42] fmuyassarov commented on #424
It is suppose to delete as I can see here:  https://github.com/metal3-io/metal3-dev-env/blob/75e6769293f7e72e536af1602463e23d7bb21ca6/cluster_cleanup.sh#L13

[2020-08-12 11:52] hroyrh commented on #424
Okay, I will run the cleanup script directly and see if there are any errors or warnings.

[2020-08-13 11:28] Jaakko-Os opened #427 "Combined test 1cp_1w_bootDiskImageANDK8sControllers_clusterLevel_upgrade.sh fails"
This test case requires ironic running as a pod and thus minikube needs to be used when metal3-dev-env make is run.

When minikube is used, the upgrade will fail due to hanging provisioning of both control plane and worker machines.

-initial machine provisioning is successful
-upgraded machines never get provisioned

[code]

Logs from CAPM3 and CAPI pods:

[code]

[code]

-upgrade test fails due

[2020-08-13 11:28] Jaakko-Os commented on #427
/kind bug

[2020-08-13 15:18] #285 closed

[2020-08-13 17:33] hroyrh commented on #424
I don't see a Minikube instance running after doing the cleanup, and `minikube status` says there is no local cluster named minikube. I tried the cleanup script manually as well.

[2020-08-13 20:08] fmuyassarov commented on #424
Yes that's normal. Because `make clean` calls minikube [delete cluster](https://github.com/metal3-io/metal3-dev-env/blob/75e6769293f7e72e536af1602463e23d7bb21ca6/cluster_cleanup.sh#L13) which deletes the cluster and the VM.

[2020-08-13 20:09] fmuyassarov commented on #424
Can you please re-try to run `make` after you run `make clean`?

[2020-08-17 05:50] fmuyassarov opened #430 "Rerunning Metal3-dev-env fails"
Metal3-dev-env fails while trying to [push a container](https://github.com/metal3-io/metal3-dev-env/blob/74760032c068b0d11501d0ce7cddb116ec7b482f/02_configure_host.sh#L144) to the local registry.

[code]

After `make clean` there is only a single registry container that stays on the system.
[code]
And If I delete the registry container and run `make` again I don't see the failure anymore.

**Steps

[2020-08-17 07:28] smoshiur1237 commented on #430
/assign @smoshiur1237

[2020-08-17 12:56] fmuyassarov commented on #430
/kind bug
/close
The issue is fixed with https://github.com/metal3-io/metal3-dev-env/pull/431.

[2020-08-17 12:56] #430 closed

[2020-08-17 14:01] ankit-kumar5 opened #432 "Provision controlplane and worker fails in metal3-dev-env"
I installed metal3-dev-env by following this https://metal3.io/try-it.html#12-metal3-dev-env-setup. I have attached the config_centos.sh file which i used.
[config_centos.txt](https://github.com/metal3-io/metal3-dev-env/files/5083567/config_centos.txt)

I want to provision real hardware. I have added 2 BM nodes which are in ready state. When i am triggering the **metal3-dev-env/vm-setup/scripts/v1

[2020-08-17 15:58] fmuyassarov commented on #432
Sorry if the documentation wasn't really clear. We are working now on improving our documentation.

Those vars are declared and exported in [lib/images.sh](https://github.com/metal3-io/metal3-dev-env/blob/master/lib/images.sh).
If you want to have your custom value for `IMAGE_URL` and `IMAGE_CHECKSUM`, then please export them with desired value before running `make`.

e.g.
[code]

[2020-08-17 16:14] fmuyassarov commented on #432
**Correction to the above comment:**

Exporting will not work because If you just export, the value will be overwritten anyways.
You will need to add your desired value in lib/images.sh in [/vm-setup/roles/v1aX_integration_test/vars/main.yml](https://github.com/metal3-io/metal3-dev-env/blob/cd27bf393407fb8a371c7d23354fd52d78107113/vm-setup/roles/v1aX_integration_test/vars/main.yml), [L60](https://

[2020-08-17 17:49] ankit-kumar5 commented on #432
Yeah.. i tried but it was getting overwritten.

[2020-08-17 17:51] ankit-kumar5 commented on #432
I am bit confused.. I have to add variables in lib/images.sh. /vm-setup/roles/v1aX_integration_test/vars/main.yml, L60 and L61 this is just reference for that. Am i correct?

[2020-08-17 19:22] ankit-kumar5 commented on #432
Hi,
Changing the variables in **/vm-setup/roles/v1aX_integration_test/vars/main.yml, L60 and L61** worked. Thanks for helping.

I have one more doubt i want to make some modification for this **CTLPLANE_KUBEADM_EXTRA_CONFIG** based on my environment. Adding that **/vm-setup/roles/v1aX_integration_test/vars/main.yml, L60 and L61** will work?

[2020-08-18 06:49] fmuyassarov commented on #432
We don't declare `CTLPLANE_KUBEADM_EXTRA_CONFIG` in /vars/main.yaml but instead inside the templates.
If you want to modify `CTLPLANE_KUBEADM_EXTRA_CONFIG` value you would rather do it within the templates in [vm-setup/roles/v1aX_integration_test/templates/](https://github.com/metal3-io/metal3-dev-env/tree/b156fcafcf47b982c4cc5ad8c08d55d60d592b6e/vm-setup/roles/v1aX_integration_test/templates).
If

[2020-08-18 10:01] ankit-kumar5 commented on #432
Its taking the changes. Thanks..

[2020-08-18 10:01] #432 closed

[2020-08-18 12:03] fmuyassarov opened #434 "No automatic switching between branches"
I run Metal3-dev-env with `CAPI_VERSION=v1alpha3` for the first time. After successful deployment, I run `make clean` and run `make` again but this time with  `CAPI_VERSION=v1alpha4` & `CAPM3_VERSION=-v1alpha4`.
However, Metal3-dev-env scripts don't take care of switching between branches based on CAPM3_VERSION variable and that's why I see the following error when I run with different CAPM3_VERSI

[2020-08-19 13:42] fmuyassarov commented on #410
@sb1975 are you able to reproduce the issue?

[2020-08-19 13:47] fmuyassarov commented on #418
/cc @Jaakko-Os ^

[2020-08-19 13:53] fmuyassarov commented on #434
/kind documentation
/priority important-soon

[2020-08-19 14:10] fmuyassarov commented on #410
/priority backlog
/kind bug

[2020-08-19 14:14] fmuyassarov commented on #434
/help
/good-first-issue

[2020-08-20 07:07] maelk commented on #434
We had implemented this behaviour, but had to revert it because it was overriding local changes. You could go around the issue by setting the FORCE_REPO_UPDATE to true

[2020-08-20 11:40] kashifest opened #436 "monitor.keepalived.service fails to start during cloud-init in ubuntu target cluster"
When the cloud-init runs for target cluster control plane in Ubuntu with focal version the following error is seen:

[code]

Further investigation suggests that although the following line is in the output:
[code]
But there is no actual symlink on the file

[code]
Which is why the service not found error is seen.

[2020-08-20 11:40] kashifest commented on #436
/assign @kashifest

[2020-08-21 05:48] kashifest opened #438 "Qemu logs are absent in Centos CI runs"
Qemu logs (cloud init logs for target nodes) are empty in centos CI runs.

Here is a reference:

https://jenkins.nordix.org/view/Airship/job/airship_master_v1a4_integration_test_centos/215/artifact/logs-jenkins-airship_master_v1a4_integration_test_centos-215.tgz

A quick investigation reveals the following error:

[code]

[2020-08-21 05:50] #436 closed

[2020-08-21 06:17] furkatgofurov7 commented on #434
/assign

[2020-08-21 06:42] Jaakko-Os commented on #438
The 'libvirt' and 'qemu' directories are located on the jenkins master VM. The reported issue is seen because the directory is being accessed on the jenkins slave whereit doesn't exist.

airshipci@ci-test-vm-20200821041037-ehbw:~$ ls -l /var/log/libvirt/qemu/
total 1024
-rw------- 1 root root 323680 Aug 21 04:44 node_0-serial0.log
-rw------- 1 root root  12712 Aug 21 04:41 node_0.log
-rw------- 1

[2020-08-21 07:03] hroyrh commented on #424
@fmuyassarov I am still facing the issue after retrying. I even tried to manually delete `ironicendpoint` and then run the `03_launch_mgmt_cluster.sh` script. But still seeing the issue. I have tried this after reprovisioning the OS ( rhel8.2 ).

From my understanding, it seems like `ironicendpoint` should be a part of Ubuntu scripts, are we supposed to use it in Centos/Rhel based systems too.

[2020-08-24 07:38] fmuyassarov commented on #438
/assign @Jaakko-Os

[2020-08-24 11:32] smoshiur1237 opened #440 "Local registry cannot be reachable during metal3-dev-env deployment"
We are facing this issue more often related to local registry, when deploying metal3-dev-env. Here is the error code:
[code]
If the local registry already exist in your local environment, during the Make process it goes to exited state. After that 02 script will start local registry, then begin to push images to local registry and cannot connect with the local registry.  The possible solution can

[2020-08-24 11:32] smoshiur1237 commented on #440
/assign @smoshiur1237

[2020-08-24 13:17] smoshiur1237 commented on #440
/kind bug

[2020-08-25 05:58] ankit-kumar5 opened #442 "Provisioning Controlplane stuck in provisioning state"
I ran metal3-dev-env/scripts/provision/controlplane.sh. From the node side the config drive script ran successfully and i am able to run kubectl commands on the controlplane node(master is in ready state). But here its stuck in the provisioning state. Because of that provision/worker.sh didnt start the provision and is in pending state.

kubectl get machine -n metal3
NAME

[2020-08-25 06:11] #438 closed

[2020-08-25 10:25] sumitjadhav1 opened #443 "Unable to setup kind cluster based metal3 setup with user defined IPs due to non-configurable Ironic environment parameters"
When Ubuntu OS, container-runtime selected ( as per #398 ) is Docker & then Ephemeral cluster is Kind based.
User makes changes as per his required IPs & other configs in relevant files, and build metal3-dev-env.

However as of now, **this only works with default IPs in lib/network.sh** [using IPs : 172.22.0.1 or 2 for PROVISIONING_IP/CLUSTER_PROVISIONING_IP] & not with user-specified IPs (say wit

[2020-08-26 08:24] fmuyassarov commented on #443
One way to manipulate [ironic_ci.env](https://github.com/metal3-io/baremetal-operator/blob/master/deploy/ironic_ci.env) with the custom value of `PROVISIONING_IP` would be to overwrite (e.g. with sed) `PROVISIONING_IP` in ironic_ci.env after we clone Baremetal Operator in  [03_launch_mgmt_cluster.sh](https://github.com/metal3-io/metal3-dev-env/blob/5e0009454c8e436b3a688db511f5826b1d9dcef4/03_launc

[2020-08-26 10:12] sumitjadhav1 commented on #443
Hi @fmuyassarov couple of more parameters would also need manipulation ? `DHCP_RANGE` & `CACHEURL` as well ?

[2020-08-26 10:55] #440 closed

[2020-08-26 11:45] Jaakko-Os opened #444 "Upgrade fails to complete when infrastructure.cluster.x-k8s.io/v1alpha4 is used"
Disk image upgrade run by 'make feature_tests_upgrade' in metal3-dev-env fails due to hanging provisioning of upgraded machines.

**metal3machinetemplate** contains when failure happens:
..
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: Metal3Machine
..

upgrade succeeds when template contains:
..
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha3
kind: Metal3Machine
..

[code]

[cod

[2020-08-26 11:46] Jaakko-Os commented on #444
/kind bug

[2020-08-26 11:49] Jaakko-Os commented on #427
Most likely the same cause of failure than for https://github.com/metal3-io/metal3-dev-env/issues/444

[2020-08-26 14:52] kashifest commented on #444
I have just tested a KCP upgrade with CAPM3 v1alpha4. I upgraded k8s version from v1.18.0 to v1.18.2 and everything worked smoothly. I supposes the error or problem that you are hitting is coming from the template files you are generating from your upgrade scripts. This should be solved as part of #428 . I will paste the deployed yaml files and the whole scenario:

[code]

[2020-08-27 06:57] fmuyassarov commented on #443
Hi,

1. I would say that `CACHE_URL` doesn't need to be changed because it inherits its value from `IRONIC_HOST` var, and `IRONIC_HOST` inherits from `CLUSTER_URL_HOST` and finally `CLUSTER_URL_HOST` inherits from `CLUSTER_PROVISIONING_IP`. So, if you just add your desired IP in [/lib/network.sh](https://github.com/metal3-io/metal3-dev-env/blob/ac1681b57882b3880d8d21ca417c493f7dd654be/lib/network.

[2020-08-27 07:34] sumitjadhav1 commented on #443
/kind bug

[2020-08-31 05:48] maelk commented on #443
Would this be solved with an update of the documentation ? If we make clear which variables to change when changing the network configuration, would that solve your issue ?

[2020-08-31 06:17] maelk commented on #442
Hi! Could you please specify whether the BMH provisioning went through ? We'd probably need more info, such as the current resources, and a bit more logs (as the one you highlighted is expected). It might be that CAPM3 is unable to reach the target cluster

[2020-08-31 06:44] maelk commented on #434
yes, I think a documentation update would be the best way to go

[2020-08-31 06:56] ankit-kumar5 commented on #442
Yeah node is provisioned and i have seen the config drive logs all the packages have been installed and on the BM i am able to run the kubectl commands.
[cabm3.txt](https://github.com/metal3-io/metal3-dev-env/files/5148774/cabm3.txt)

From the system target cluster is pingable. And i didnt get the current resources thing.

[2020-08-31 07:10] sumitjadhav1 commented on #443
Yes the documentation update would be helpful. But our observations are : we don't change these variables in ironic_ci.env run-time. So that was the purpose of raising this issue.

[2020-08-31 07:12] furkatgofurov7 commented on #434
Just to make sure, I will update metal3-io.github.io/try-it.md if this is the right place to do so or is metal3-dev-env/README.me needs to be edited as well?

[2020-08-31 10:33] maelk commented on #434
probably wherever `make clean` is mentioned, we should add a note that redeploying with a different branch requires this variable set

[2020-08-31 10:40] maelk commented on #443
indeed, if you use the run_local_ironic script then the variables are not set so this actually needs to be modified in that script. All variables must be passed through the environment or defaulted, similarly to what is done in the kustomization here : https://github.com/metal3-io/metal3-dev-env/blob/master/03_launch_mgmt_cluster.sh#L167 . The issue is then in BMO script first, then we need to mak

[2020-08-31 10:43] maelk commented on #442
Can you please confirm that you can run kubectl from the management / origin cluster towards the target cluster ?

[2020-08-31 15:22] furkatgofurov7 commented on #410
priority/awaiting-more-evidence

[2020-09-01 20:16] furkatgofurov7 commented on #443
/assign

[2020-09-03 09:23] hroyrh commented on #424
@fmuyassarov I tried with the latest bits and didn't see the issue. Although redeploying with different capm3_version ( v1alpha3/v1alph4 ) does fail which is expected behavior ? If yes, we can close this issue.

[2020-09-03 09:42] fmuyassarov commented on #424
When you say fail, can you please point out what exactly fails? Is it similar to
[code]

One thing that can happen is when you switch CAPM3 versions (different branches) there is no automatic switching between branches. And some parts of the scripts will run only with specific versions of CAPM3 (i.e. branch).
For example: when you run `make` the second time you have already cloned & and switched t

[2020-09-03 09:48] #444 closed

[2020-09-03 09:54] hroyrh commented on #424
Yes, it looks to be similar to what you are seeing in #434 . I think we can close this issue.

[2020-09-03 10:09] Jaakko-Os opened #446 "Upgrade fails due to duplicate control plane machine"
Upgrade test case [1cp_3w_bootDiskImage_scaleInWorkers_upgrade_both.sh](https://github.com/Nordix/metal3-dev-env/blob/master/scripts/feature_tests/upgrade/workers_upgrade/1cp_3w_bootDiskImage_scaleInWorkers_upgrade_both.sh) fails.

Reason:
- during control plane upgrade, an extra machine (test1-g5ncz) is encountered, only one is expected

[code]
This leads to the situation that the upgrade hangs b

[2020-09-03 10:17] Jaakko-Os commented on #446
/kind bug

[2020-09-03 10:21] fmuyassarov commented on #424
Cool. Closing it.
/close

[2020-09-07 05:55] #353 closed

[2020-09-08 08:40] Jaakko-Os opened #449 "metal3-dev-env 'make' fails"
Environment deployment occasionally fails to:

[code]

Seen also in CI job failures https://jenkins.nordix.org/view/Airship/job/airship_master_feature_tests_upgrade_ubuntu/30/console

[2020-09-08 08:41] Jaakko-Os commented on #449
/kind bug

[2020-09-08 15:46] fmuyassarov commented on #449
@Jaakko-Os
Can you please share the logs of BMO, CAPM3, and Ironic container?

[2020-09-08 19:39] #434 closed

[2020-09-09 05:16] Jaakko-Os commented on #449
Here are all the available logs:
[logs-jenkins-airship_master_feature_tests_upgrade_ubuntu-30.zip](https://github.com/metal3-io/metal3-dev-env/files/5192732/logs-jenkins-airship_master_feature_tests_upgrade_ubuntu-30.zip)

[2020-09-09 06:47] fmuyassarov commented on #449
@Jaakko-Os are you able to reproduce it?

[2020-09-09 07:07] Jaakko-Os commented on #449
randomly, so it's difficult to verify fix candidates

[2020-09-10 06:03] maelk commented on #449
that looks like a bug in sushy-tools. it is returning 500 apparently

[2020-09-10 06:04] Jaakko-Os commented on #449
now seeing the same problem when running local tests in my city cloud VM:

[code]

[2020-09-10 06:04] maelk commented on #449
Here are the sushy-tools logs showing the error:

[code]

[2020-09-10 06:05] maelk commented on #449
That might need to be addressed directly with the people maintaining sushy-tools ?

[2020-09-15 20:32] #443 closed

[2020-09-16 08:26] fmuyassarov commented on #443
@sumitjadhav1 Hopefully now you should be able to run Metal3-dev-env with custom IP by only exporting/modifying IP related variables Metal3-dev-env, without a need to make changes in BMO side.

[2020-09-17 06:16] #446 closed

[2020-09-18 17:13] sumitjadhav1 opened #462 "Machine Provisioning Failing in case of non-default baremetal & provisioning networks, need to parameterize the external_subnet_v4"
We tried to setup metal3-dev-env using non-default baremetal & provisioning networks, Target-OS=Ubuntu.
Node provisioning & SSH login using metal3 user was successful. However Machine provisioning had failed as seen CAPI & CAPM3 logs.

EXTERNAL_SUBNET_V4=192.168.115.0/24
PROVISIONING_NETWORK=192.168.100.0/24

`I0918 13:35:33.354511       1 machine_controller_noderef.go:52] controllers/Machine "msg

[2020-09-18 17:14] sumitjadhav1 commented on #462
/kind bug

[2020-09-18 17:35] sumitjadhav1 commented on #443
@fmuyassarov : Yes, checked it today only by having two different non-default networks for baremetal & provisioning, able to run metal3-dev-env successfully. Observed another issue logged in #462

[2020-09-18 20:30] fmuyassarov commented on #462
Sorry for that @sumitjadhav1 . I agree that exporting `EXTERNAL_SUBNET_V4` with custom value or even putting a hardcoded value in lib/images.sh will not be propagated in [vm-setup/roles/firewall/defaults/main.yml](https://github.com/metal3-io/metal3-dev-env/blob/e84aa8225a681990d3712d1291e151e1ec566a0f/vm-setup/roles/firewall/defaults/main.yml#L4). We were missing a lookup in there. Here is the fi

[2020-09-19 20:41] #462 closed

[2020-09-21 13:33] zaneb commented on #449
Sounds to me like a race condition in sushy-tools. This is being tracked [in storyboard](https://storyboard.openstack.org/#!/story/2008166), so I think we can close this.
/close

[2020-09-21 13:33] #449 closed

[2020-09-21 13:52] zaneb commented on #360
Provisioning is failing with this error:

[code]

I'd guess that you need to choose a different hardware profile/root device hint. It's strange that it's intermittent though.

[2020-09-22 13:23] maelk opened #470 "Clusterctl is always re-installed"
Even if clusterctl has already been installed, it is downloaded again due to two consecutive bugs :

[code]
There is an issue with a missing file, and the comparison has an issue with quotes.

/help-needed
/good-first-issue

[2020-09-23 06:24] kashifest opened #472 "Make fails with ansible version 2.10.0"
With ansible version 2.10.0 following error was seen, during the setup of the environment:

[code]

It needs more investigation.

[2020-09-25 13:37] furkatgofurov7 commented on #470
/assign

[2020-09-28 07:55] furkatgofurov7 commented on #470
@maelk I was not reproduce this issue, and this error is not seen in CI. The only way is when we run this command locally, it gives me an error regarding not finding a `.cluster-api/version.yaml`, but that error can be solved if for example we properly install clusterctl and path to version.yaml is correct. Have you seen this error locally? if so, can you check if `version.yaml` is there, the file

[2020-09-28 11:40] maelk commented on #470
We are starting to see the issue in CI, the version.yaml is missing when trying to identify the version of the executable

[2020-09-29 04:48] #470 closed

[2020-09-30 11:41] sumitjadhav1 opened #491 "Failing to onboard/introspect real nodes in Metal3"
We're using latest code of metal3-dev-env & our custom changes to introspect real nodes i.e. Dell PowerEdge servers.
But it's failing at NBP file download step. Need help from community.

BaseOS=Ubuntu, Kind-Cluster, Container-runtime=docker

Attaching log files & changes we make during successful installation metal3-dev-env.
Discussed with @fmuyassarov , @kashifest , the changes done look correct

[2020-09-30 11:43] sumitjadhav1 commented on #491
cc @digambar15 @snehal1797

[2020-10-02 07:25] #418 closed

[2020-10-02 07:25] #427 closed

[2020-10-02 08:55] furkatgofurov7 commented on #472
/assign

I will investigate it a bit more.

[2020-10-06 07:56] Xenwar commented on #363
this issue no longer relevant.

[2020-10-06 07:56] #363 closed

[2020-10-06 07:58] Xenwar commented on #374
The problem is no longer visible. Perhaps, the issue was related with CAPI.
If the problem resurfaces, a new issue needs to be created.

[2020-10-06 07:58] #374 closed

[2020-10-06 07:59] Xenwar commented on #360
This problem is not visible any longer. Closing this issue.

[2020-10-06 07:59] #360 closed

[2020-10-14 13:39] fmuyassarov commented on #472
/kind bug

[2020-10-14 13:42] fmuyassarov commented on #491
/kind bug

[2020-10-16 12:07] Xenwar opened #521 "Operations on node lifecycle not proceeding due to ironic-inspector failure."
When creating the metal3-dev-env, the provisioning of a worker and CP node succeeds. However, operations that are performed afterwards are not succeeding as expected.

Operations not proceeding as expected:
- scale-in worker and CP nodes (deleting Ironic pod can be used as a work around)
- scale-up worker and CP nodes
- upgrading of worker and CP nodes

**Note:This problem happens both before and

[2020-10-16 14:08] Xenwar commented on #521
/kind bug

[2020-10-21 05:04] Xenwar commented on #387
This issue is no longer visible. If it resurfaces, a new issue can be created.

[2020-10-21 05:04] #387 closed

[2020-10-22 14:05] furkatgofurov7 commented on #472
**Update:**
With the new Ansible 2.10 release, there was a big change, which separates lots of modules and spins them off into their own collections. This issue here is with the filter plugins, which were part of the Ansible, but starting from the 2.10 release those plugins are no longer part of the core modules. Instead, these filters are now moved to the "ansible.netcommon" collection in Galaxy.

[2020-10-28 00:05] chenkaigithub opened #531 "./05_test.sh Failed in deply controlpalne."
I follow make clean and make to do some test.
It's failed in 05_test.sh.

Result :

NAMESPACE NAME STATUS PROVISIONING STATUS CONSUMER BMC HARDWARE PROFILE ONLINE ERROR
metal3 node-0 OK ready ipmi://192.168.111.1:6230 unknown true
metal3 node-1 OK provisioned test1-controlplane-xjbkn redfish+http://192.168.111.1:8000/redfish/v1/Systems/d8cf11c3-bfc6-4818-8ee9-420680b34ba5 unknown true

In /var/log

[2020-10-28 14:42] fmuyassarov commented on #531
Can you please share what env variables you have exported before you run make/
What OS are you using to run metal3-dev-env?

[2020-10-29 13:17] ismacasti commented on #521
Hi,

I'm seeing similar problem, but for me it's even worse as it makes BMO stop processing.
Ironic Inspector stops processing API calls, but leaves the TCP connections open. This makes BMO stops on its tracks completely until the TCP connections time out on Ironic Inspector side.

[code]

If you check the times, it stopped processing HTTP calls for several minutes until they time out. But I dont'

[2020-10-29 23:41] chenkaigithub commented on #531
OS : Cent OS 8(core-4.1-amd64:core-4.1-noarch)
I use the default settings.

[2020-10-29 23:43] chenkaigithub commented on #531
I check the control-plane VM's log.
It seems cloud-init is failed, so kubeadm is not initialized.

[2020-10-30 10:47] furkatgofurov7 commented on #472
Upstream fix : https://github.com/ansible-collections/ansible.netcommon/pull/167

[2020-10-30 12:02] #472 closed

[2020-11-19 10:18] dtantsur commented on #491
Could you open the iDRAC virtual console and check what is actually happening on the nodes? Maybe make a screenshot.

Please make sure you have the latest firmware. Also check if any changes have been made to your network configuration (especially things like MTU).

[2020-11-22 12:27] Mawwlle opened #560 "Failed deploy Metal Kubed (Ubuntu 20.04)"
**Environment:** Ubuntu 20.04(same problem on Ubuntu 18.04), 32 gb ram, 8 CPUs (oVirt, kvm)
**What have we tried to do:** deploy on CentOS 7, editing configuration files, various environment settings

**This error occurs while running ./02_configure_host.sh**

![Снимок экрана 2020-11-22 в 12 58 36](https://user-images.githubusercontent.com/44709362/99903456-a0a8b800-2cd5-11eb-8d8c-53f13e25ea76.png

[2020-11-24 07:29] maelk commented on #560
This looks like qemu does not support kvm. Is virtualization enabled ?

[2020-11-24 07:48] Mawwlle commented on #560
Virtualization disabled. I understand that the problem is most likely in this.
**Is there a workaround other than enabling virtualization?**

[2020-11-24 07:49] maelk commented on #560
not in metal3-dev-env unfortunately. We rely only on kvm.

[2020-11-24 07:54] #560 closed

[2020-12-07 07:23] Mawwlle opened #572 "CAPM3 do not exist(The worker is not created)"
**System**: 6c CPUs 20gb ram CentOS 8(default metal3 architecture); <br/> We need to deploy a standard metal environment. <br/>
![image](https://user-images.githubusercontent.com/44709362/101322177-a545a280-3877-11eb-84f7-c6184bdd6c54.png)<br/> However, when creating a cluster, a **working node is not created**. If you run this command, then "capm3 do not exist in namespaces"<br/>
![image](https:/

[2020-12-07 09:52] fmuyassarov commented on #572
The namespace of the controllers has changed since then. Sorry that it wasn't updated yet. We are working right now on updating our docs.

So, the right namespace would be `capm3-system `. See the example output :

[code]
Can you please paste the output of `kubectl get machine -A` ?

[2020-12-07 11:46] #409 closed

[2020-12-07 13:42] Mawwlle commented on #572
![image](https://user-images.githubusercontent.com/44709362/101356118-a9d67f00-38a8-11eb-9fce-9cb66c204758.png)
However, after the "kubectl get baremetalhosts -n metal3" command, it was expected<br/>
![image](https://user-images.githubusercontent.com/44709362/101356333-f7eb8280-38a8-11eb-867e-9a5dc639df0b.png)<br/> But we get
![image](https://user-images.githubusercontent.com/44709362/101356391-0f

[2020-12-08 09:38] fmuyassarov commented on #572
I think you can't ssh into the node until it is not provisioned. Can you please check if you have any issues in the console output?
`sudo virsh console node_0`

[2020-12-08 19:13] Mawwlle commented on #572
<br/>Log out after `sudo virsh console node_0`
[log.txt](https://github.com/metal3-io/metal3-dev-env/files/5661291/log.txt)

`test1-7fcn2 login:` **What do you need to enter in this field?**(Appeared during command execution, I entered a random name and everything froze for me)<br/>
![image](https://user-images.githubusercontent.com/44709362/101519953-d962b580-3994-11eb-8d93-6a2895cfc648.png)<br/>

[2020-12-08 20:43] fmuyassarov commented on #572
By default, we don't set a username & password for target nodes in Metal3-dev-env scripts. It should work with ssh, because your host's ssh key will be injected to the target nodes. It seems there are some other issues.

What is the current `PROVISIONING_STATUS` of your BareMetalHosts? if not  `Provisioned`,
1. can you check Baremetal Operator (pod) logs?
2. can you check Ironic nodes status? For

[2020-12-08 20:47] fmuyassarov commented on #572
btw, thanks for the logs. But I didn't see anything in there that would indicate the reason for your issue.

[2020-12-09 10:16] Mawwlle commented on #572
I attach as many different logs as possible so that you have more information, thanks for you responsiveness
[log(pod).txt](https://github.com/metal3-io/metal3-dev-env/files/5664793/log.pod.txt)
[bm_node_list.txt](https://github.com/metal3-io/metal3-dev-env/files/5664802/bm_node_list.txt)-**Provisioning State "wait call-back" lasts a very long time**
[some_commands_inf.txt](https://github.com/meta

[2020-12-11 11:34] fmuyassarov commented on #572
Thank for the logs! Pasting some outputs here for visibility.

[code]
[code]
[code]

[code]
[code]

I see some error output in your logs related to the disk space:
`go: creating work dir: mkdir /tmp/go-build164395946: no space left on device`. I assume this is coming from your host where you are running Metal3-dev-env. Can you please check if disk space usage is close to 100% ? In our CI, we are c

[2020-12-11 12:25] Mawwlle commented on #572
Why worker node shutting down after worker.sh?

[2020-12-11 18:12] Mawwlle commented on #572
We have 200gb storage.
**After deploy environment**
![image](https://user-images.githubusercontent.com/44709362/101932266-99e1d680-3beb-11eb-8f67-deba9fa0243f.png)
**After running master node**
![image](https://user-images.githubusercontent.com/44709362/101933438-42446a80-3bed-11eb-9f6f-1d1514662c78.png)
Your assumption is correct, there is not enough space when creating worker nodes.
**After runn

[2020-12-12 21:01] #572 closed

[2020-12-15 08:23] szengerle commented on #521
Same problem for an external Ironic/Inspector deployment with openstack-ironic-inspector-8.0.1 on CentOS 8.
Inspector leaves TCP connection open and does not response on HTTP requests. BMO stops working for several minutes.

Br,
Sebastian

[2020-12-15 14:12] szengerle commented on #521
Looks like for some reason BMO does not close TCP sockets to Inspector.
Since I am neither BMO nor Go expert I workarounded the issue on Inspector side. It does not solve root cause but makes setup mutch more stable:

[DEFAULT]
http_timeout=15
tcp_keepidle=15
client_socket_timeout=15

Br,
Sebastian

[2020-12-15 15:23] maelk commented on #521
Hi! This problem (opened sockets on BMO side) should now be fixed. Did you try with the latest code from BMO ?

[2020-12-15 15:26] szengerle commented on #521
I am running the image quay.io/metal3-io/baremetal-operator:capm3-v0.4.1.

Br,
Sebastian

[2020-12-15 15:28] maelk commented on #521
Could you give it a try with latest ? you should not see the problem anymore with that one

[2020-12-16 08:25] szengerle commented on #521
Tested with latest/7c2663e80ca8 and previous Inspector config. All connections are closed by BMO perfectly and no TCP timeout have to be configured at Inspector anylonger. Just for my learning: What was the commit of this bugfix? Thanks.

Br,
Sebastian

[2020-12-16 08:55] furkatgofurov7 commented on #521
@szengerle Hi! This should be the commit you are looking for: https://github.com/metal3-io/baremetal-operator/pull/712/commits/1227ba7bfc6315b650c7a4260776f8b9d6fab39e

[2020-12-29 17:29] #410 closed

[2020-12-31 14:47] #442 closed

[2021-01-13 11:35] hroyrh commented on #531
I was able to reproduce this issue with a latest metal3-dev-env deployment, error line from kubelet service inside controlplane :
[code]
OS : Rhel8.3 ( 4.18.0-193.el8.x86_64 )
Config : IP_STACK=v4, rest setting default

[2021-01-13 15:05] fmuyassarov commented on #531
Not sure what is causing that. From the master [integration CI](https://jenkins.nordix.org/view/Airship/job/airship_master_v1a4_integration_test_centos/426/console) I can see that job passed last night when running on top of Centos. I will run a test myself on CentOS 8 and update here.

[2021-01-18 08:48] fmuyassarov commented on #531
Hi, sorry for the late reply. It seems kubelet config file isn't present on the target node.
Can you please if you have a configMap  `kubelet-config-1.19` in `kube-system` namespace ?
[code]
Also, probably you don't have `/var/lib/kubelet/config.yaml` file within the node right?

[2021-01-18 10:29] hroyrh commented on #531
I do have `kubelet-config-1.20` in the `kube-system` namespace, but yes I don't have the `/var/lib/kubelet` directory inside the controlplane node.

[2021-01-18 11:51] hroyrh commented on #531
This is weird because, I didn't export the `KUBERNETES_VERSION` var, are you using the latest metal3-dev-env code ?

[2021-01-18 12:48] fmuyassarov commented on #531
Yes, and you can see that it [here](https://github.com/metal3-io/metal3-dev-env/blob/83b42a59c23f134fb9e0f4ceb05d2c77a9f12c6c/lib/common.sh#L185) that it is set to 1.19.3

[2021-01-18 13:00] hroyrh commented on #531
Okay let me retry a fresh deployment and see what happens.

[2021-01-27 13:40] digambar15 opened #593 "sushy-tools image is failing to bring up a container"
I am seeing issue while bringing up container out of sushy-tools image. Container is going in CrashLoopBack.
Anyone knows workaround on this, please share details.

[2021-01-27 14:14] digambar15 commented on #593
airship@d104:~/vino$ sudo docker run quay.io/metal3-io/sushy-tools
Traceback (most recent call last):
  File "/usr/local/bin/sushy-emulator", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.9/site-packages/sushy_tools/emulator/main.py", line 854, in main
    app.config.from_pyfile(args.config)
  File "/usr/local/lib/python3.9/site-packages/flask/config.py", line 131, in fro

[2021-01-27 14:33] fmuyassarov commented on #593
I had dev-env running in a VM, and by just quickly checking the container I see that the conf.py exists in the root/sushy directory

[code]
But I will anyways test it in a fresh dev-env as well!

[2021-01-27 20:03] fmuyassarov commented on #593
@digambar15 The issue is you are not mounting `conf.py` to the container. In dev-env we are creating [conf.py ](https://github.com/metal3-io/metal3-dev-env/blob/7ab1eff181df5b9db21ad9eab8e63c04b24c7281/vm-setup/roles/virtbmc/tasks/setup_tasks.yml#L96) to `/opt/metal3-dev-env/virtualbmc/sushy-tools` directory and then [mounting](https://github.com/metal3-io/metal3-dev-env/blob/c0eaf956828e0aee80a59

[2021-01-28 19:57] kfox1111 opened #595 "limited sudo"
Was looking at setting this up and there is a large amount of code running with potential access to sudo without password. It would be great if this was broken up into a limited set of stuff that needs sudo so that can be more easily audited by folks that need to do so and the rest of the stuff that interacts with the vms that doesn't need sudo access can be ignored.

[2021-01-31 13:23] fmuyassarov commented on #531
Hi @hroyrh ,
Any updates from your tests?

[2021-02-02 21:23] hroyrh commented on #531
Hi @fmuyassarov , I tried on Rhel8 but had some issues with deployment. I will check if this issue is also part of it after a bit more testing, will let you know once I have done that.

[2021-02-02 22:17] fmuyassarov commented on #531
Thanks. After quick googling, found this [issue ](https://github.com/kubernetes/kubernetes/issues/73779) which has similar sort of logs. Not sure thought if there was something similar happening in your environment.

[2021-02-08 21:30] fmuyassarov commented on #593
@digambar15 can we close this issue if you think that the issue you are facing ins't a bug?

[2021-02-17 11:09] fmuyassarov commented on #491
/remove-lifecycle stale
@sumitjadhav1 Any updates on this issue? Is it still an issue for you?

[2021-02-24 14:13] fmuyassarov commented on #593
/close Since this is not an issue the repo

[2021-02-24 14:13] fmuyassarov commented on #593
/close

[2021-02-24 14:13] #593 closed

[2021-02-24 14:14] fmuyassarov commented on #595
/kind cleanup

[2021-03-04 06:04] sumitjadhav1 commented on #491
Hi Feruz, sorry for delayed response.
When checked with old commit (somewhere around first week of February 2021), issue was still there.
Will update the observations with the latest commits this or next week, possibly before meeting.

[2021-03-04 07:18] fmuyassarov commented on #491
/remove-lifecycle stale

[2021-03-17 10:42] fmuyassarov opened #610 "Failing to provision with the latest sushy-tools (0.15.0)"
After upgrading sushy-tools to 0.15.0, BMH could not get provisioned.

[code]

[code]

We need to investigate the issue with sushy-tools 0.15.0. Apart from that, while running integration CI on a patch we need to make sure that we always build local images of sushy-tools and vbmc instead of pulling them from Quay. Because, pulling images from Quay won't help us to recognize possible issues during

[2021-03-17 10:44] fmuyassarov commented on #610
/cc @furkatgofurov7
/cc @kashifest
/cc @dtantsur
/cc @hardys

[2021-03-17 10:44] fmuyassarov commented on #610
/kind bug

[2021-03-17 11:18] hardys commented on #610
It sounds like https://github.com/metal3-io/metal3-dev-env/pull/606/files#r595873052 may explain this problem, so I can propose a revised PR which fixes that.

It'd be good to get CI coverage of these changes though, to avoid this kind of breakage in the future - I think if we can set SUSHY_TOOLS_LOCAL_IMAGE in metal3-dev-env CI so it points to the git checkout, that should work?

https://github.c

[2021-03-17 12:00] fmuyassarov commented on #610
Right, but I think `SUSHY_TOOLS_LOCAL_IMAGE` in metal3-dev-env is already in [place](https://github.com/metal3-io/metal3-dev-env/blob/c0eaf956828e0aee80a596812ac919128c67edd1/02_configure_host.sh#L190), so we need it to be exported in [project-infra](https://github.com/metal3-io/project-infra/blob/81577033b32d3e4cd25401077704fb91ab3247b6/jenkins/scripts/files/run_integration_tests.sh#L122), like w

[2021-03-17 12:01] fmuyassarov commented on #610
and if we are going to do that, we would need to export `VBMC_LOCAL_IMAGE` as well.

[2021-03-22 07:54] kashifest opened #613 "Move node-image building scripts from airship-dev-tools to metal3-dev-env"
Currently, the node-image building scripts reside in aiship-dev-tools instead of metal3-dev-env. As such, users do not have access or view to the pre-kubeadm or post-kubeadm commands. We should probably move them to metal3-dev-env.

[2021-03-22 07:55] kashifest commented on #613
/assign @kashifest

[2021-03-22 07:57] Xenwar commented on #613
I agree.

[2021-03-22 08:04] fmuyassarov commented on #613
If we are going to move node-image building scripts then maybe it would be better to keep them in project-infra? as we store all the CI related stuff in there.

[2021-03-22 08:06] kashifest commented on #613
TBH, it shouldn't be in project-infra IMO. This is not infra related.

[2021-03-24 15:25] hardys commented on #610
@fmuyassarov I proposed https://github.com/metal3-io/project-infra/pull/175 PTAL, thanks!

[2021-04-04 07:59] ragoncsa opened #624 "Downloading CENTOS_8.2_NODE_IMAGE_K8S_v1.20.4.qcow2 from artifactory.nordix.org downloads only 1GB of content"
I was able to repeat this on my local macbook (Big Sur 11.2.3) and on AWS ec2. (Amazon Linux t2.micro - amzn2-ami-hvm-2.0.20210326.0-x86_64-gp2) Here is the content of my terminal from the test on ec2:

[code]

When I use wget I see that the server closes the connection after sending 1GB of data (wget retries and is able to download the whole file).

[code]

This should be the related line
https:/

[2021-04-17 21:16] fmuyassarov commented on #610
Closing this issue as it was fixed in https://github.com/metal3-io/metal3-dev-env/pull/619.
/close

[2021-04-17 21:16] #610 closed

[2021-04-19 23:07] #624 closed

[2021-04-21 13:15] namnx228 commented on #613
/kind cleanup

[2021-04-26 11:36] furkatgofurov7 commented on #521
/remove-lifecycle stale

[2021-05-24 11:00] sumitjadhav1 commented on #491
This issue is no longer observed. Can close for now. Will re-open if seen again.

[Verification-RAM-Parameter.txt](https://github.com/metal3-io/metal3-dev-env/files/6531837/Verification-RAM-Parameter.txt)

Logs to confirm that we were able to on-board real nodes (PowerEdge servers) in Metal3.

[2021-05-24 11:00] #491 closed

[2021-05-25 16:08] kfox1111 commented on #595
/remove-lifecycle stale

[2021-05-26 11:51] #521 closed

[2021-05-26 14:27] furkatgofurov7 opened #671 "Move from CentOS8 to CentOS Stream distribution"
The idea is to move from using CentOS8 in metal3-dev-env to CentOS Stream, mainly due to the end of the support for updates for the CentOS8 distribution which will continue until the end of 2021.

xref: [faq-centos-stream-updates](https://www.redhat.com/en/blog/faq-centos-stream-updates)

[2021-06-02 13:36] furkatgofurov7 commented on #671
/kind feature

[2021-06-02 22:51] #531 closed

[2021-06-09 11:52] jan-est opened #686 "Metal3-dev-env unable to scale capm3-controller-manager"
When I set `CAPM3_LOCAL_RUN=true` metal3-dev-env is unable to create the environment. It is failing because `capm3-controller-manager` deployment can not be found

[2021-06-09 11:54] jan-est commented on #686
Metal3-dev-env fails to scale down the capm3-controller-manager because the namespace in 01_ script is wrong. Here is the PR for the fix [687](https://github.com/metal3-io/metal3-dev-env/pull/687)

[2021-06-09 13:18] lentzi90 commented on #686
The PR was not properly linked. This issue can be closed as of #687

[2021-06-09 14:20] furkatgofurov7 commented on #686
/close
`
Fixes#` should have been used in fixing PR. Closing manually.

[2021-06-09 14:20] #686 closed

[2021-06-10 05:41] lentzi90 opened #688 "Parametrize CAPI version"
Currently the CAPI version is hard-coded in multiple places and omitted in other places even though we have a `CAPI_VERSION` variable. We should start using this variable instead of hard-coding or omitting the version.

Unfortunately this is blocked until v1alpha4 works properly, as `CAPI_VERSION` is already set to `v1alpha4` for the integration tests. This means that we will first need to add sup

[2021-06-21 08:25] furkatgofurov7 commented on #671
/reopen

[2021-06-21 08:28] furkatgofurov7 commented on #671
While testing uplifting k8s [PR](https://github.com/metal3-io/metal3-dev-env/pull/701) we were seeing some problems in [serials logs](https://jenkins.nordix.org/view/Airship/job/airship_metal3io_metal3_dev_env_v1a5_integration_test_centos/28/artifact/logs-jenkins-airship_metal3io_metal3_dev_env_v1a5_integration_test_centos-28.tgz) something along these lines
`[  125.532767] SELinux: mount invalid.

[2021-06-21 08:29] furkatgofurov7 commented on #671
I will look more into it.

/assign

[2021-07-01 08:34] #671 closed

[2021-07-01 12:07] lentzi90 opened #715 "Upgrade test is failing with default NUM_NODES"
The number of control plane nodes and worker nodes is set directly in the Makefile:
https://github.com/metal3-io/metal3-dev-env/blob/c508a7a536f884fbf2fb2376e0058339f4349199/scripts/feature_tests/upgrade/Makefile#L2-L3
However, these values do not work with the default value for `NUM_NODES`, which is 2. (Se [here](https://github.com/metal3-io/metal3-dev-env/blob/c508a7a536f884fbf2fb2376e0058339f43

[2021-07-08 13:11] #715 closed

[2021-08-10 19:39] fmuyassarov opened #761 "Upgrade Kubernetes version to 1.22.0 for integration tests"
Since we K8S 1.22.0 is out, we can start using it in our integration tests. For that we need to:

1. Update the `KUBERNETES_VERSION` or kindest/node container image to 1.22.0 and build host VM image (where the Kind source cluster is running) from Nordix/airship-dev-tools repository.
2. Update the default `KUBERNETES_VERSION` variable in metal3-dev-env repository once the host VM OS with 1.22.0 kin

[2021-08-17 05:40] kashifest commented on #761
/assign @kashifest

[2021-08-19 22:09] fmuyassarov opened #769 "Update upgrade tests to run from 1.22.0 to 1.22.1 release of Kubernetes"
Upgrade tests are running tests from K8S 1.21.2 to 1.21.3. However, we should soon adjust upgrade tests to run from 1.22.0 to 1.22.1.

[2021-08-30 09:40] renovate[bot] opened #781 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency ansible to v4.4.0](../pull/762)
 - [ ] [Update kindest/node to v1.22.1](../pull/757)

---

- [ ] Check this box to trigger

[2021-09-19 18:28] fmuyassarov opened #796 "Test Prow transfer-issue plugin"

[2021-09-19 18:28] fmuyassarov commented on #796
/transfer-issue project-infra

[2021-09-19 18:29] fmuyassarov commented on #796
/transfer project-infra

[2021-09-19 18:49] fmuyassarov commented on #796
/transfer project-infra

[2021-09-20 06:17] fmuyassarov commented on #796
/retest

[2021-10-19 20:48] renovate[bot] opened #836 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: includeForks`

[2021-12-08 20:41] #613 closed

[2021-12-17 22:41] #769 closed

[2022-01-04 12:40] faisalchishtii opened #895 "cluster provisioning stuck"
I ran the `make` command it completed okay.

Then I tried to provision cluster using below scripts:

[code]

These completed too but the two machines are stuck in `Pending` and `Provisioning` state.

[2022-01-04 15:22] furkatgofurov7 commented on #895
@faisalchishtii hi!

Thanks for reporting. I see "Drain failed" error from the logs provided, but that could be due to different reasons. One example could be:
1. provisioning ctpl&worker triggered
2. While they are provisioning, deprovisioning scripts (under /scrips/deprovision) have been run (without giving it enough time to provision) to deprovision the ctpl&worker but cluster is left out witho

[2022-01-04 15:25] furkatgofurov7 commented on #895
priority/awaiting-more-evidence

[2022-01-04 16:56] faisalchishtii commented on #895
@furkatgofurov7  Thanks for the quick response. I tried above but still facing the same issue.

See pod logs below.

`$ kubectl logs baremetal-operator-controller-manager-545c6f8596-vxprq manager -n baremetal-operator-system` #This gives lots of repetitive messages like below

`$kubectl logs capi-kubeadm-bootstrap-controller-manager-6799c7bd56-lttvc -n capi-kubeadm-bootstrap-system`

`kubectl logs

[2022-01-05 09:37] faisalchishtii commented on #895
OS Details:

[code]

[2022-01-05 10:20] mgazz opened #896 "Failure to get node power state via ipmitool during the deployment"
Hello,

I am trying to deploy the metal3 environment via `make`, but the process fails during the verification step with output as following:
[code]

Inspecting the `baremetalhosts`, `node-0` reports the following error:
[code]
I attached [bmh.txt](https://github.com/metal3-io/metal3-dev-env/files/7814088/bmh.txt) so you can see the whole output of `kubectl describe bmh -A`

Also, from the `vbmc`

[2022-01-05 22:21] furkatgofurov7 commented on #895
@faisalchishtii thanks.
I noticed errors in KCP logs:
`E0104 16:48:13.900424 1 controller.go:188] controller/kubeadmcontrolplane "msg"="Failed to update KubeadmControlPlane Status" "error"="failed to create remote cluster client: error creating client and cache for remote cluster: error creating dynamic rest mapper for remote cluster "metal3/test1": Get "https://192.168.111.249:6443/api?timeout=10

[2022-01-06 03:47] faisalchishtii commented on #895
# KCP details below

`$ kubectl get kcp -A`

[2022-01-06 18:14] furkatgofurov7 commented on #895
@faisalchishtii this is helpful, thanks. As predicted, for some reason, kubelet is not running properly on that machine and from the cloud-init logs you have attached I found this:

`error execution phase preflight: [preflight] Some fatal errors occurred:
	[ERROR ImagePull]: failed to pull image k8s.gcr.io/kube-apiserver:v1.22.3: output: time="2022-01-06T09:44:13Z" level=fatal msg="pulling image:

[2022-01-06 18:25] furkatgofurov7 commented on #895
Also, you can verify if all needed images can be pulled successfully by running: `kubeadm config images pull`

[2022-01-06 21:34] faisalchishtii commented on #895
It turned out that the dns resolution was failing on the target machines/bmh hosts (centos vms created by libvirt) even though it is configured correctly. While I couldn't understand the root cause, I was able to temporarily fix it by manually adding IP's for `k8s.gcr.io` and few other domains in `/etc/hosts`.

This is how my `/etc/hosts` looks like to make it to work temporarily:

[code]

Thanks

[2022-01-07 10:20] lentzi90 opened #898 "Update control-plane/master taints for k8s v1.24"
In k8s v1.24 the ["node-role.kubernetes.io/control-plane" taint will be added](https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/XJhn8bpvHac) to control-plane Nodes as part of renaming "node-role.kubernetes.io/master" -> "node-role.kubernetes.io/control-plane".
We rely on the old taint in [at least some tests](https://github.com/metal3-io/metal3-dev-env/blob/620b4e6abef8c0edaedd8dc3cd

[2022-01-07 22:44] furkatgofurov7 commented on #895
No problem. Closing this since it has been a problem with an environment, please feel free to reopen it if you want to discuss more on this issue.

/close

[2022-01-07 22:44] #895 closed

[2022-01-10 11:35] furkatgofurov7 commented on #896
@mgazz hi, thanks for reporting!
Can you please check the console of the hosts and see what they were doing at the time? Did they PXE boot successfully?

@dtantsur do you have any pointers on why vbmc container could fail to start properly? We do need maybe more logs from other containers?

[2022-01-12 11:12] mgazz commented on #896
@furkatgofurov7 Hi,

node-1 is running while the node-0, the machine reporting the issue, is currently shut off.
[code]
I can only see the console logs from node_1 (I suspect node_0 never started). Interestingly, node_1 reports the following error:

[code]
Always from node-1, I see the following error while trying to modprobe `ipmi_si`
[code]

The ipmi modules are available on the machine from whi

[2022-01-18 16:44] furkatgofurov7 commented on #896
/cc @elfosardo if you have any suggestions on this,

[2022-01-19 08:58] macaptain commented on #896
I expect there's something in your environment that's interfering with UDP.

The errors in the `vbmc` container logs suggest both nodes failed trying to listen for IPMI. In a default metal3-dev-env with two nodes, one node is controlled by Redfish, the other by IPMI. I expect that when Ironic was talking Redfish (HTTP/TCP) to `node_1`'s BMC, all was well. But your `ipmi` command to `node_0`'s BMC

[2022-01-19 11:26] lentzi90 opened #908 "Image replacement for BMO and Ironic not working"
The function for [updating the BMO and Ironic images](https://github.com/metal3-io/metal3-dev-env/blob/c9f982a50116fe9724992381265eb27f1d7789f8/03_launch_mgmt_cluster.sh#L72) is not working properly.

With the [default value](https://github.com/metal3-io/metal3-dev-env/blob/c9f982a50116fe9724992381265eb27f1d7789f8/lib/common.sh#L205), it successfully updates the patch to use the image in the local

[2022-01-20 07:33] Rozzii commented on #898
/priority important-longterm
/kind cleanup

[2022-01-20 07:36] Rozzii commented on #908
/assign @lentzi90
/kind bug
/priority important-soon

[2022-01-21 12:19] furkatgofurov7 commented on #898
@lentzi90 great, thanks for opening this! We have one more case in CAPM3 e2e tests that need a change, see: https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/test/e2e/node_reuse_test.go#L40

[2022-01-25 13:54] lentzi90 opened #913 "Accomodate upgrade tests better"
This is a quite broad issue so a bit of background might be helpful:
The metal3-dev-env supports integration and feature tests for the Metal³ stack. It helps with building container images and generating manifests so that the very latest code can be tested. This works well for the feature tests, but when it comes to upgrade tests, things get a bit complicated. This is especially true for the e2e t

[2022-01-26 06:46] lentzi90 opened #915 "Container registry not respected for Ironic after pivot"
Ironic can be deployed "locally" or in the cluster. Currently we deploy in the cluster if using minikube as management cluster and deploy locally otherwise (KinD).

https://github.com/metal3-io/metal3-dev-env/blob/50fa7121a7680ea6965ed3d77219fb6715681ab3/03_launch_mgmt_cluster.sh#L222-L243

The images used in each scenario are the same, but they are taken from different places. For the local deplo

[2022-01-26 06:47] lentzi90 commented on #915
/kind bug

[2022-01-26 13:03] furkatgofurov7 opened #916 "Test Issue 1"

[2022-01-26 13:03] furkatgofurov7 opened #917 "Test Issue 1"

[2022-01-26 13:03] furkatgofurov7 opened #918 "Test Issue 1"

[2022-01-26 15:53] furkatgofurov7 commented on #916
/transfer-issue project-infra

[2022-01-26 17:18] furkatgofurov7 commented on #917
/transfer-issue project-infra

[2022-01-27 09:36] furkatgofurov7 commented on #918
This was meant to test the transfer issue plugin, it can be closed now.

/close

[2022-01-27 09:36] #918 closed

[2022-01-27 15:18] mgazz commented on #896
@macaptain  thank you for the suggestions.

By setting `BMC_DRIVER=redfish` I managed to circumvent the issue.

With `BMC_DRIVER=mixed`, after restoring the iptables and pulling from master(50fa7121a7680ea6965ed3d77219fb6715681ab3), the deployment reached the end successfully.

[2022-01-31 08:14] kashifest opened #923 "Mariadb container usage is unclear"
Since [Baremetal Operator](https://github.com/metal3-io/baremetal-operator/blame/main/tools/run_local_ironic.sh) makes the usage of mariadb false by default, shall we drop any/all code related to mariadb usage from metal3-dev-env or then shall we allow setting the var https://github.com/metal3-io/baremetal-operator/blob/main/tools/run_local_ironic.sh#L93 through some configmap here in metal3-dev-e

[2022-01-31 08:14] kashifest commented on #923
@dtantsur your thoughts would be appreciated.

[2022-01-31 11:11] kashifest commented on #923
What about the ironic-deployment in BMO @dtantsur thats still uses mariadb. So our Ubuntu jobs currently dont deploy mariadb containers but centos jobs are using mariadb as a container in ironic pod. Do you have any plane to change that or would it remain as it is?

[2022-01-31 13:49] furkatgofurov7 opened #924 "Test triage label in m3-dev-env issue"

[2022-01-31 13:49] furkatgofurov7 commented on #924
/triage accepted

[2022-01-31 13:49] furkatgofurov7 commented on #924
/triage unresolved

[2022-01-31 13:50] furkatgofurov7 commented on #924
/triage not-reproducible

[2022-01-31 13:50] furkatgofurov7 commented on #924
/triage duplicate

[2022-01-31 13:50] furkatgofurov7 commented on #924
/triage needs-information

[2022-01-31 13:55] furkatgofurov7 commented on #924
/close

[2022-01-31 13:55] #924 closed

[2022-01-31 13:55] furkatgofurov7 opened #925 "Test issue 2 triage label"

[2022-01-31 13:55] furkatgofurov7 commented on #925
/triage needs-information

[2022-01-31 13:56] furkatgofurov7 commented on #925
/triage accepted

[2022-01-31 14:46] furkatgofurov7 commented on #925
/close

[2022-01-31 14:46] #925 closed

[2022-01-31 14:46] furkatgofurov7 opened #926 "Test issue"

[2022-01-31 14:47] furkatgofurov7 commented on #926
/triage needs-information
/triage duplicate
/triage not-reproducible
/triage accepted

[2022-01-31 14:49] furkatgofurov7 commented on #926
/close

[2022-01-31 14:49] #926 closed

[2022-01-31 18:10] dtantsur commented on #923
I'm working on changes it, but I got lost in ironic-deployment :( I may start asking some questions on Slack at some point. I don't understand e.g. why there is no httpd deployed.

[2022-02-02 13:26] Rozzii commented on #923
/question

[2022-02-02 13:27] Rozzii commented on #923
/question

[2022-02-02 13:35] Rozzii commented on #923
/kind question

[2022-02-02 13:37] Rozzii commented on #923
/label question

[2022-02-03 07:10] Rozzii opened #931 "Provide CI coverage for optional mariadb support."
Because of recent developments the SQlite has become the default database for ironic thus the MariaDB based setup is not being testes.

Based on community discussion and discussion on an other ticket https://github.com/metal3-io/metal3-dev-env/issues/923, it has been decided that there is a need to provide integration tests in the CI for both SQlite and MariaDB based setups.

/kind feature
/help w

[2022-02-03 07:11] Rozzii commented on #931
/assign @dtantsur @kashifest

[2022-02-03 07:13] Rozzii commented on #923
The question has been answered and it was also discussed on the 02.02.2022 community meeting. As a result of this question Issue #931 has been created.
/close

[2022-02-03 07:13] #923 closed

[2022-02-03 07:14] Rozzii commented on #898
/triage accepted

[2022-02-03 07:15] Rozzii commented on #908
/triage accepted

[2022-02-03 07:16] Rozzii commented on #913
/triage accepted
/help wanted
/kind design
/kind feature

[2022-02-03 07:17] Rozzii commented on #931
/triage accepted

[2022-02-03 07:18] Rozzii commented on #915
/triage accepted

[2022-02-03 07:20] Rozzii commented on #913
/help

[2022-02-03 07:21] kashifest commented on #931
I am trying to understand the need of testing both, if sqlite is the default database, mariadb test isn't required that much unless someone is really using mariadb and against sqlite . We anyhow are planning to test an upgrade scenario where we have a mariadb based ironic deployment and we go on to deploy sqlite based ironic deployment .

[2022-02-04 14:03] n-able-consulting opened #933 "nordix-airship images (CentOS en Ubuntu) no longer online"
LS,

The to download images (in: lib/images.sh) for CentOs and Ubuntu are no longer online available, so the 01_prepare_host.sh breaks at that point.

Shoutout for your efforts, love this project!

Gr. Ruben Visser

[2022-02-04 14:12] n-able-consulting commented on #933
By coincidence found out, their locations changed!
From https://artifactory.nordix.org/artifactory/airship/images/,
To https://artifactory.nordix.org/artifactory/metal3/images/k8s_<kubernetes-version>/
--

[2022-02-04 15:21] Rozzii commented on #933
Hi @n-able-consulting, yes currently we are in the process of removing the "airship" references from the metal3 project and as part of that the artifacts have been moved.
/triage accepted

[2022-02-04 15:22] Rozzii commented on #933
/assign

[2022-02-04 15:24] kashifest commented on #933
The images should be available now here https://artifactory.nordix.org/artifactory/metal3/images/k8s. @n-able-consulting please check if its working for you now.

[2022-02-04 15:49] n-able-consulting commented on #933
Confirmed working of change!
Thanks for making the effort.
Gr. Ruben

[2022-02-04 15:52] furkatgofurov7 commented on #933
Thanks for confirming @n-able-consulting!
Closing the ticket, please reopen or create a new one if you hit theis issue again.

/close

[2022-02-04 15:52] #933 closed

[2022-02-05 10:28] Buttires1984 opened #934 "Can"

[2022-02-08 07:48] Xenwar commented on #934
/triage accepted

[2022-02-08 07:54] Rozzii commented on #934
/triage accepted

[2022-02-08 07:59] Rozzii commented on #934
/assign @Xenwar
/kind flake

[2022-02-08 08:12] Xenwar commented on #934
Thanks for the issue.
One possible cause is interface naming on the bare metal server. If you can get the following, it would give more information on the cause.

1. logs from the `ironic-endpoint-keepalived` container.
2. list of interfaces on the bare metal host

Thanks.

[2022-02-08 09:12] fmuyassarov opened #937 "Test triage accepted label"

[2022-02-08 09:13] fmuyassarov commented on #937
@Xenwar can you try now to add triage accepted on this issue?

[2022-02-08 09:20] fmuyassarov commented on #937
/close
seems the issue was with white space on the comment

[2022-02-08 09:20] #937 closed

[2022-02-16 12:49] Rozzii commented on #781
/triage accepted

[2022-02-24 09:42] lentzi90 opened #955 "Enhancement: Check cloud-init status"
We recently had a problem in the CI where the OS we use for the Nodes had an update that made one of our `preKubeadmCommands` fail. This is in turn caused some network issues, which was what we detected first. It took quite some time before we managed to figure out the root cause because no one suspected that there was an error in the cloud-init commands. The Machines were provisioned, the cluster

[2022-03-02 14:23] Rozzii commented on #955
/triage accepted
/kind feature
/help

[2022-03-02 14:38] Arvinderpal commented on #955
CAPI uses a sentinel file to check if bootstrapping succeeded.
https://github.com/kubernetes-sigs/cluster-api/issues/3716

Some providers, like capz, do check this file as an indication of successful bootstrapping.
For baremetal, the tricky part I think is accessing this file from the management cluster.

[2022-03-04 09:39] jklippel opened #957 "kubectl issues warnings after setup of demo cluster"
After successful setup of the demo cluster using "make all", "./scripts/provision/cluster.sh", "./scripts/provision/controlplane.sh" and "./scripts/provision/worker.sh" it is possible to access the controlplane node using ssh and the well-known ip-address using `ssh -lmetal3 192.168.111.100`.

On issueing any kubectl command, warnings regarding client-side throttling are issued:
[code]

[2022-03-04 09:39] jklippel commented on #957
Expected behaviour: No warnings are issued by kubectl.

[2022-03-04 10:49] furkatgofurov7 commented on #957
/triage accepted

[2022-03-04 10:53] furkatgofurov7 commented on #957
@jklippel hi, thanks for opening an issue! Since you already proposed a fix, I am assigning this issue to you and we can discuss a fix in the PR itself.

/kind bug
/assign @jklippel

[2022-03-08 08:40] #957 closed

[2022-03-16 09:27] Rozzii commented on #913
NOTE to everybody: Fell free to work on this and contact/ping @lentzi90 if you have any question!

[2022-03-16 09:28] Rozzii commented on #955
NOTE to everybody: Fell free to work on this and contact/ping @lentzi90 or ask it here if you have any question!

[2022-03-18 16:56] andfasano opened #973 "Python3.9 is ignored if other versions are present in the host"
Apparently due the current Ansible setting of `ansible_python_interpreter=auto` configured in [1], python 3.9 will not be selected if in the current host where metal3-dev-env another version is present.

On rhel8 for example, the debug output shows that `/usr/libexec/platform-python` is used:
[code]

[1] https://github.com/metal3-io/metal3-dev-env/blob/681b4d26ab5f90b0d08679df36b82ebb74eca993/vm-s

[2022-03-18 16:56] andfasano commented on #973
cc @hardys

[2022-03-21 09:25] elfosardo commented on #973
the behavior is actually correct, the "auto" option selects the default python binary for the selected distribution based on a map, which for CentOS-Stream/RHEL 8 is /usr/libexec/platform-python
This is the current map https://github.com/ansible/ansible/blob/devel/lib/ansible/config/base.yml#L1502

[2022-03-21 10:53] andfasano commented on #973
Thanks @elfosardo for clarifying that behavior (considering the additional complexity of the ansible debug output that seems to point to 3.9 :) ). I guess we can close then this issue

[2022-03-21 10:53] #973 closed

[2022-04-05 08:06] lentzi90 opened #981 "Ironic health is not checked properly after pivot"
After pivoting Ironic to the workload cluster, we check that "all pods are running" in this way:
https://github.com/metal3-io/metal3-dev-env/blob/481eae31ed28518668ebf21f7d6e7ebd8ca0e63d/vm-setup/roles/v1aX_integration_test/tasks/move.yml#L155-L166

Unfortunately this does not properly identify issues since it will pass as soon as all pods are (for a split second) in running state. If some pod sta

[2022-04-13 14:14] Rozzii commented on #981
/triage accepted
/assign @mboukhalfa

[2022-04-14 13:44] #981 closed

[2022-04-23 16:38] furkatgofurov7 commented on #836
/triage accepted
/kind bug

[2022-04-27 12:11] lentzi90 opened #994 "Proposal: Avoid using dirty repos for deploy"
This issue is about how we deploy Ironic and BMO in metal3-dev-env. We currently use the [deploy.sh](https://github.com/metal3-io/baremetal-operator/blob/main/tools/deploy.sh) script and also apply some kustomizations directly after making changes to them (e.g. changing the registry/image/tag).

As seen in #975 it can be problematic to rely on dirty repos. It is hard to know what changes there are

[2022-04-27 14:25] Rozzii commented on #994
/triage-accepted
/help
/kind feature

[2022-04-27 14:26] Rozzii commented on #994
/triage accepted

[2022-05-11 14:31] Rozzii commented on #931
It is in my backlog, haven't had the time yet.
/remove-lifecycle stale

[2022-05-11 14:31] Rozzii commented on #931
/assign @Rozzii

[2022-05-11 14:33] Rozzii commented on #934
Is it still an issue that you are facing @Xenwar  ?

[2022-05-11 18:29] Xenwar commented on #934
I did not face this particular issue. I was suggesting for more logs to help debug the issue. Since we have not received any feedback, it is safe to assume that the issue is already resolved.
Perhaps, we can close this issue.

[2022-05-16 06:49] lentzi90 opened #1004 "apt-key is deprecated and scheduled for removal after ubuntu 22.04"
We are making use of `apt-key` for managing APT keys. This tool is deprecated and scheduled for removal after 22.04 (so we likely need to fix this before upgrading to 24.04).

References:

- [man page for apt-key](http://manpages.ubuntu.com/manpages/jammy/man8/apt-key.8.html). See the deprecation notice. There is a suggestion for how to manage the keys without apt-key.
- [the ansible module we are

[2022-05-21 03:26] encanto-oss opened #1010 "Why do we need to run it as a non root user?"
https://github.com/metal3-io/metal3-dev-env/blob/e59889d9dc4ee25d2e6f165ea979bac87f68aa81/01_prepare_host.sh#L10

[2022-05-21 05:18] encanto-oss opened #1011 "Permission denied running make"
suer.cert-manager.io/baremetal-operator-selfsigned-issuer created
validatingwebhookconfiguration.admissionregistration.k8s.io/baremetal-operator-validating-webhook-configuration created
~/go/src/github.com/metal3-io/baremetal-operator
+ '[' true == true ']'
+ '[' true == true ']'
+ sudo mkdir -p /opt/metal3/certs/ca/
+ cp /opt/metal3-dev-env/certs/ironic-ca.pem /opt/metal3/certs/ca/crt
cp: cannot

[2022-05-21 07:11] Xenwar commented on #1010
The reason for it described/discussed here https://github.com/metal3-io/metal3-dev-env/pull/365.

[2022-05-24 04:39] lentzi90 commented on #898
/remove-lifecycle stale

[2022-05-25 08:29] lentzi90 opened #1012 "Add connection test"
We don't currently have a specific test that checks if pods can reach each other (on the same or a different node). Of course many tests will fail if there are connection issues between pods/nodes, but it can be hard to debug and conclude that the issue is coming from network issues. Therefore I suggest adding a test specifically for this.

We could for example use [mirantis k8s-netchecker](https:

[2022-05-25 14:37] Rozzii commented on #1011
Have you tried this with passwordless sudo?
SeLinux config or other security tools could cause issues.

[2022-05-25 14:49] Rozzii commented on #934
/close

[2022-06-23 08:29] shachard opened #1028 "Control-plane provisioning doesn't complete when used with a physical machine"
Hi,
I deployed the metal3-dev-env setup and tried to replace the VMs with physical machines (by adding my physical network interface to the "provisioning" bridge).
Everything seemed to work fine until I provisioned the control-plane, but then I got "provisioned" state on the baremetalhost:

NAMESPACE   NAME     STATE         CONSUMER                         ONLINE   ERROR   AGE
metal3            n

[2022-07-06 13:49] Rozzii commented on #1028
/triage needs-information

[2022-07-07 16:23] shachard commented on #1028
Hi,

I attached the capm3-controller-manager log.
[capm3-controller-manager.log](https://github.com/metal3-io/metal3-dev-env/files/9057411/capm3-controller-manager.log)

If I understand correctly, it is trying to verify that the master node is up and running by accessing 192.168.111.249, is that right?

The problem might be that the network interfaces on my physical node are different than the int

[2022-07-14 10:33] furkatgofurov7 commented on #955
/reopen
/remove-lifecycle stale

[2022-08-08 11:46] lentzi90 commented on #994
/remove-help
/assign

[2022-08-17 14:43] Rozzii commented on #931
/remove-lifecycle stale
It is not a forgotten issue but somehow there is always more important things so if someone would like to implement this then please feel free to do so!
/help

[2022-08-24 14:34] lentzi90 commented on #1004
/freeze

[2022-08-24 14:35] lentzi90 commented on #1004
/lifecycle freeze

[2022-08-24 14:35] lentzi90 commented on #1004
/lifecycle frozen

[2022-08-24 14:36] lentzi90 commented on #1010
/close

[2022-08-24 14:36] #1010 closed

[2022-08-24 14:38] lentzi90 commented on #1012
/remove-lifecycle stale

[2022-09-21 14:39] Rozzii commented on #1004
I think we have forgot about this one @lentzi90  let's talk

[2022-09-22 13:00] furkatgofurov7 opened #1078 "Add bug_report template to the repository"
It would be nice to have at least a template for bug report when creating an issue in the repo, since it is structured and requires needed information from the reporting person and in turn making it easier for maintainers or respondents of the issue to triage and debug the issue faster

You can check https://github.com/metal3-io/cluster-api-provider-metal3/tree/main/.github as a reference to find

[2022-09-22 13:01] furkatgofurov7 commented on #1078
/triage accepted
/good-first-issue

[2022-09-22 13:13] furkatgofurov7 opened #1079 "Removal of 'baremetal' connection during host cleanup fails in CentOS runs"
After we changed network settings from network-scripts to key file format for CentOS builds in https://github.com/metal3-io/metal3-dev-env/commit/5bbb97f3c82d4c95a2fd3f479d5987dbd9d12d41 I have accidentally noticed in CI that removing of `baremetal` connection is failing:

[code]

however, removal of `provisioning` does not! Most probably there is no need to remove the baremetal connection at all

[2022-09-22 13:13] furkatgofurov7 commented on #1079
/triage accepted
/good-first-issue

[2022-09-22 15:30] #1011 closed

[2022-09-23 06:25] mquhuy commented on #1079
/assign mquhuy

[2022-09-26 11:29] mquhuy commented on #1078
/assign mquhuy

[2022-10-03 11:18] Rozzii commented on #931
/assign @lentzi90

[2022-10-03 11:18] Rozzii commented on #931
/remove-help

[2022-10-05 14:11] Rozzii commented on #913
/remove-lifecycle stale

[2022-10-05 14:14] Rozzii commented on #1004
/remove-lifecycle frozen
Work has been started on this issue.

[2022-10-05 14:18] Rozzii commented on #1078
/help remove

[2022-10-05 14:19] Rozzii commented on #1079
/remove help

[2022-10-05 14:20] Rozzii commented on #1079
/remove-help

[2022-10-05 14:22] furkatgofurov7 commented on #1079
/remove-help

[2022-10-05 14:37] furkatgofurov7 commented on #955
/remove-help

[2022-10-05 14:50] furkatgofurov7 commented on #955
/help

[2022-10-06 08:20] Rozzii commented on #1004
Clarification: Work has not been started but it is planned to start.

[2022-10-11 12:53] lentzi90 commented on #898
We have already uplifted to v1.24 so this can be closed.
/close

[2022-10-11 12:53] #898 closed

[2022-11-02 14:36] Rozzii commented on #1028
/remove-lifecycle stale

[2022-11-16 14:36] Rozzii commented on #994
@lentzi90 should we leave this issue as stale?

[2022-11-17 05:57] lentzi90 commented on #994
Yes. I started working on it at some point, but then priorities changed. Maybe at some point I will get back to it.

[2022-11-18 12:07] kashifest opened #1107 "Upgrade feature test should allow upgrading to k8s 1.25.2"
Currently upgrade feature test is not upgrading to k8s 1.25.x, its still upgrading to k8s 1.24.x. We need to tackle this issue soon.

[2022-11-21 08:45] furkatgofurov7 commented on #1107
/triage accepted

[2022-11-30 14:24] Rozzii commented on #994
/remove-lifecycle stale

[2022-11-30 14:28] Rozzii commented on #1012
/lifecycle frozen

[2022-11-30 14:30] Rozzii commented on #913
/cc @lentzi90  @mboukhalfa

[2022-11-30 14:30] Rozzii commented on #913
/assign @mboukhalfa